[2019-02-15 05:36] Geequlim opened #1 "Announce godot support for ECMAScript when completing these tasks"
## Major binding process
- [x] Export godot builtin classes into ECMAScript
- [x] Export global functions in`@GDScript` into ECMAScript
- [x] Export godot Object classes (All classes extend from `Object`) into ECMAScript
- [x] Export constants and enumerations into ECMAScript
- [x] Instance godot Object classes from ECMAScript
- [x] Call C++ methods from ECMAScript side
- [x] Export singleton obje

[2019-03-04 01:32] Geequlim commented on #1
- [ ] Export godot builtin classes into ECMAScript
    - [x] Dictionary
    - [x] Array
    - [x] Vector2
    - [ ] Vector3
    - [x] Rect2
    - [ ] Transform2D
    - [ ] Plane
    - [ ] Quat
    - [ ] AABB
    - [ ] Basis
    - [ ] Trabsform
    - [x] Color
    - [x] NodePath
    - [x] RID
    - [ ] PoolByteArray
    - [ ] PoolIntArray
    - [ ] PoolRealArray
    - [ ] PoolStringArray
    - [ ]

[2019-03-06 04:49] Geequlim opened #2 "Porting for multiplatform"
## Linux
   - [x] GCC  x64 debug
   - [x] GCC  x64 release
   - [ ] Clang x64 debug
   - [ ] Clang x64 release

## Windows
   - [x] MSVC x64 debug
   - [x] MSVC x64 release
   - [ ] MSVC x86 debug
   - [ ] MSVC x86 debug

## OSX
  - [x] Clang x64 debug
  - [ ] Clang x64 release

[2019-03-06 04:51] Geequlim commented on #2
@arimus Could you please test compiling for OSX and feedback here ?

[2019-03-06 10:00] arimus commented on #2
@Geequlim carrying on the conversation from https://github.com/godotengine/godot/issues/937 over here. I'm using ECMAScriptDemos/* projects to test. Godot locks up completely and I have to kill it.

[2019-03-06 10:32] arimus commented on #2
Here's the error message trying to run hello_world:

[2019-03-06 12:00] Geequlim commented on #2
@arimus Did you compiled typescript before you run the project?

[2019-03-06 12:02] arimus commented on #2
Yes. In both the pong and hello world projects. The odd pay is that the
first time I opened the hello world project, I got that one too work. But
then I couldn't get it to open again... Even after resetting the project
changes.

On Wed, Mar 6, 2019, 4:00 AM Geequlim <notifications@github.com> wrote:

[2019-03-11 03:34] arimus commented on #2
@Geequlim Any guidance on how I can get past these errors. Updated to the latest, but still having the exact same errors.

[2019-03-11 04:28] Geequlim commented on #2
@arimus Sorry I don't have a Mac to test yet. And other people test on OSX is fine.

[2019-03-11 04:31] Geequlim commented on #2
@arimus Did you try the demos without editor? IMO the ecmascript module should never crash the godot editor.

[2019-03-11 05:42] arimus commented on #2
I am indeed able to run hello world and pong without the editor. The editor is what worked for me initially and I have not been able to reproduce.

1. Clone of godot (master)
2. Clone of ECMAScript
3. Copy ECMAScript into godot/modules
4. scons platform=osx
5. Clone of ECMAScriptDemos
6. Follow directions in project to build
7. Run with editor ../../godot/bin/godot.osx.tools.64 project.godot (does

[2019-03-11 07:32] Geequlim commented on #2
@arimus  Try remove project cache of your projects ?
On Windows it is here.
![image](https://user-images.githubusercontent.com/6964556/54106998-d844d300-4412-11e9-9c54-69bc985ea1a1.png)

[2019-03-11 07:34] Geequlim commented on #2
@arimus  I don't know is it related. On OSX you need to put the compiled binary file into `godot.app` .

[2019-03-11 08:44] arimus commented on #2
I tried to clear the caches in ~/.godot and removed the .import directory from the Pong project and tried to edit. It still dies on import. I modified the project to see which file was loading when errors crop up. Here is what I get in the console:

[code]

Re: bundling in godot.app, I tried just in case the plist made a difference, but it did not. From what I can tell in the docs, it's unnecessar

[2019-07-17 01:20] Geequlim opened #4 "Porting to QuickJS"
~~I will wait until quickjs is more stable at least the debugger is implemented.~~

### Export godot symbols to script
- [x] Refactor the `ECMAScriptGCHandler` to improve the binding process
- [x] Export godot Object types `godot.Object` `godot.Reference`
    - [x] Constants and enumerations
    - [x] Methods
    - [x] Properties
    - [x] Indexed properties and theme properties
    - [x] Signals

[2019-07-21 21:08] rosshadden commented on #4
This looks _awesome_!

[2019-07-24 03:22] nhydock commented on #4
I was just about to ask for this as it appears to be a huuuuge improvement over duktape and even chakra if you want something small to embed with high ECMA compliance.

[2019-07-24 11:26] Geequlim commented on #4
I will wait until quickjs is more stable at least the debugger is implemented.

[2019-08-24 08:20] #2 closed

[2019-11-03 15:12] Geequlim commented on #4
Test case for QuickJS to make sure the we can use Godot Object type correctly in javascript
[code]

[2019-11-11 05:37] Geequlim commented on #4
https://github.com/koush/quickjs

https://github.com/koush/vscode-quickjs-debug

https://marketplace.visualstudio.com/items?itemName=koush.quickjs-debug

↑ It's time to start the work :)

[2019-11-11 19:06] nhydock opened #5 "Suggested improvements to async workflow"
With Javascript being very async heavy, and ECMAScript not having to completely match how GDScript implements its features, there's potentially to provide slight usability improvements to the workflow with regards to Godot coroutines and signals workflow.  These do not need to be implemented at a low level and may just be shims that wrap existing behavior

- Support async/await against GDScript yi

[2019-11-17 09:02] Geequlim commented on #4
Bunnymark compare to GDScript
![Bunnymark Result](https://user-images.githubusercontent.com/6964556/69005343-e234b380-095b-11ea-851e-9a21c3d7a137.png)

[2019-11-26 08:46] Geequlim commented on #1
Switched to quickjs.

[2019-11-26 08:46] #1 closed

[2019-12-07 14:09] Geequlim commented on #5
This is implemented now

[code]

Output
[code]

[2019-12-08 15:19] Geequlim commented on #5
These features are implemented now.
![carbon (2)](https://user-images.githubusercontent.com/6964556/70391525-2e31c000-1a11-11ea-8648-01b44d53fb4f.png)
![carbon (3)](https://user-images.githubusercontent.com/6964556/70391519-25d98500-1a11-11ea-9fc5-fa3785789881.png)

[2019-12-08 21:07] nhydock commented on #5
Instead of passing in null as the target, could the param be made optional for anonymous functions?

Also godot.yield would benefit from having a default value of `'completed'` be assigned to the signal parameter since it's the most common use-case to yield for.

[2019-12-10 17:01] nhydock commented on #4
In addition to porting to quickjs, are there any plans to investigate bindings using pluginscript instead of a godot module.  It would be nice to have this supported as something that can be downloaded through the asset library instead of having to compile it into godot.  Quickjs is rather portable, so distributing the addon would be conceivably small and quick to plug in for projects thinking of

[2019-12-11 01:27] Geequlim commented on #4
@nhydock No such plan in the near feature.

[2019-12-14 03:53] Geequlim commented on #5
Thanks for your advice. These features are implemented now.

[2019-12-14 03:53] #5 closed

[2019-12-20 15:18] cupiniki commented on #4
Hello,
I've encountered this error when trying to compile:

`modules/libmodules.x11.tools.64.a(quickjs_builtin_binder.x11.tools.64.o): In function 'QuickJSBuiltinBinder::initialize(JSContext*, QuickJSBinder*)':`
`/home/cupi/Make/godotJS/godot/modules/ECMAScript/quickjs/quickjs_builtin_binder.cpp:160: undefined reference to 'QuickJSBuiltinBinder::bind_builtin_classes_gen()'`

[2019-12-21 01:13] Geequlim commented on #4
@cupiniki comment this line https://github.com/Geequlim/ECMAScript/blob/706d39af38e313170ffdbed6f94ee65ad9ec0cd2/generate_builtin_api.py#L6

[2019-12-21 11:12] cupiniki commented on #4
@Geequlim Thank you

[2019-12-22 13:20] Geequlim commented on #4
@nhydock
Why not using GDNative/ PluginScript ?
1. I'm not sure the gdnative and the plugin script related stuff is stable enough to finish the work.
2. The performance does matter for script binding. I don't want more extral cost for data converting.
3. I want to publish games for iOS to App Store I don't think Apple allow dynamic link

[2019-12-25 07:13] fidasx opened #6 "exporting does not work"
im getting this error:

[code]

it works fine running from the editor
btw what export templates do i have to use with your builds
thx for your time developing this

[2019-12-25 10:08] Geequlim commented on #6
export is not implemented yet

[2019-12-25 10:31] Geequlim commented on #6
The plan to implement exporting ECMAScript is to compile scripts to byte code.

@fidasx You can using the editor itself as the export template binary before the exporting feature is implemented.

[2019-12-25 10:43] fidasx commented on #6
ok ty very much

[2020-01-18 07:56] Geequlim commented on #6
ECMAScript exporting is implemented now.
We can export script with encryption key or compile to bytecode

[2020-01-18 07:56] #6 closed

[2020-01-27 07:02] gforceg opened #7 "Cannot attach node script"
I am trying to use this in godot (tagged commit 3.1.2-stable) with ECMAScript (tagged commit godot3.1-duktape) and the Godot UI will not allow me to attach an ECMAScript to a Node2D. It seems like a form validation issue but maybe I'm doing something wrong?

![image](https://user-images.githubusercontent.com/14267747/73155415-e980e780-4097-11ea-8915-f513bafaa02e.png)

I've tried using the alpha3 b

[2020-01-27 07:05] gforceg commented on #7
I created the file outside of Godot and things seem to be working now.

[2020-01-27 07:10] gforceg commented on #7
I guess I spoke too soon, now it reloads the same dialog over and over.

[2020-01-27 08:45] Geequlim commented on #7
The duktape is replaced by quickjs. You'd better try the latest version

[2020-01-27 16:22] gforceg commented on #7
Thanks for your reply @Geequlim,

I will try that.

I initially tried using alpha3 w/ godot@3.1.2-stable and the godot build kept failing.

[2020-01-28 05:46] gforceg commented on #7
Works with both master branches.
Thanks! :stuck_out_tongue_winking_eye:

[2020-01-28 05:46] #7 closed

[2020-02-02 06:55] gforceg opened #8 "is it possible to import es5 / es6 modules?"
I tried to import typescript / javascript modules but it doesn't seem to like the module format I'm using.

godot generates an error:

[code]

I have tried both node_modules and and files within my project directory. I think a way around this problem would be to use a bundler such-as webpack but I am hoping there is a simpler way to make this work.

[2020-02-02 07:07] Geequlim commented on #8
You can only using  standard ES6 modules format.

[2020-02-02 07:37] gforceg commented on #8
Thanks! I thought I had tried ES6 but I was wrong. It's working now.

[2020-02-02 07:37] #8 closed

[2020-02-13 14:26] Teashrock opened #9 "Won't build on Windows 10 x64"
Spawns next error log:
[code]

[2020-02-14 05:38] Geequlim commented on #9
QuickJS cann't compiled with MSVC yet.
You have to compile with MSYS2
http://docs.godotengine.org/en/latest/development/compiling/compiling_for_windows.html#compiling-for-windows

[2020-02-14 05:49] Teashrock commented on #9
@Geequlim
So, I have to build the entire game engine with MSYS only due to one module's bugginess?

[2020-02-14 06:09] Geequlim commented on #9
@Teashrock You have to rebuild entire game engine with any native module.

[2020-02-14 06:11] Teashrock commented on #9
@Geequlim
Mkaaaaay... I'll try.

[2020-02-14 07:21] Teashrock commented on #9
@Geequlim
Nope. Still the same error under MSYS2 MinGW 64-bit.
[code]

[2020-02-15 14:37] Geequlim commented on #9
You can try the precompiled version if you still have problem to compile it
https://github.com/Geequlim/ECMAScript/releases/tag/alpha4

[2020-02-15 17:07] Teashrock commented on #9
@Geequlim
No, thanks. I prefer to compile myself, because that way I can add any module I want.
Instead, could you please provide a clear building guide at README.md? It would be much better, I suppose.

[2020-02-16 10:57] Geequlim commented on #9
@Teashrock

Just need to drop the module folder and recompile the engine as the documentation said.
I don't have a windows machine so I can't reproduce it.

You can try modify the line #61 as below
[code]

[2020-03-03 17:08] Teashrock commented on #9
@Geequlim
Finally, I modified said line and one another, then tried under MSYS MinGW 64-bit. All worked, but now it needs a corresponding pull request.

[2020-03-11 07:10] vonagam opened #12 "Two issues with Worker demo"
1) `fib.js` [default export](https://github.com/Geequlim/ECMAScriptDemos/blob/ca86889abfcd5518ed49b8f3eacf9fc4cefd91d4/worker/fib.js#L1) is `fib` function and not a godot class, so every time the file is loaded i get an error message "modules/ECMAScript/ecmascript.cpp:92 - JavaScript Error". Is this how it is supposed to be right now (work in progress)? So for now to avoid this message on every sa

[2020-03-12 04:54] vonagam opened #13 "Crashes if _input or _unhandled_input is present"
On my machine playing scene crashes if i have a js class with `_input` or `_unhandled_input`.

Reproduction: create empty project, create some root node, attach new ecma script to it and add `_input(event) {}` or `_unhandled_input(even) {}`. Play the scene and move a mouse few seconds.

Without those methods everything is working, as soon as i add them, crashes  appear. On crashes i can see messag

[2020-03-28 11:34] domis4 opened #14 "QuickJS Error when trying to get World Space for raycasting"
Hello, first of thanks for this great implementation of ES for Godot. It helps me alot getting started.

i ran into an issue when trying to get the world space state, in order to cast an ray between two Spatials. (i want to copy the Y position of the element below the player)

[code]

[code]

This method of ray casting is recommendet in http://docs.godotengine.org/en/3.2/tutorials/physics/ray-cast

[2020-03-28 11:46] domis4 commented on #13
i can reproduce this using
[code]

Im using
- Godot `e707b712e8`
-  ECMAScript `ec69d88`
on mac os 10.15.4 (19E266)

[2020-03-31 16:49] domis4 commented on #14
@Geequlim may i be able to support you? :) maybe you can give me a hint where why this issue happens.

[2020-04-04 00:02] DenisBelmondo opened #15 "[Typescript] Generated declaration file expands INF and NAN incorrectly"
Hello there, there seems to be an issue according to Typescript's compiler, tsc, with the following lines in the automatically-generated godot.d.ts:

![image](https://user-images.githubusercontent.com/8296741/78412746-beec6700-75d1-11ea-9e03-f4eb655f4e7f.png)

This yields the following errors:

[code]

Thankfully, the typescript file for my compiles just fine regardless.

**Steps to reproduce:**

[2020-04-10 14:23] #9 closed

[2020-04-10 14:30] Geequlim commented on #12
There is a bug with stack overflow in QuickJS.
You can disable stack checking for this.

[2020-04-10 15:13] vonagam commented on #12
Haven't this ec69d883b014738bbc7e0a9acbd10349992e88b9 recent commit disabled stack checks for apple devices already (i am on mac)? (And strange thing for me is that this error appears only in worker thread, script has no problem running on main one.)

Are there any workarounds for errors about js files that do not export a godot class (like libraries)?

Maybe it is possible in the future to add an

[2020-05-02 07:27] Geequlim commented on #15
I can't reproduce this problem.
You'd better using latest code to compile.

[2020-05-02 07:27] #15 closed

[2020-05-02 07:35] Geequlim commented on #13
I can't reproduce this problem

### Test case1

[code]
Output
[code]

### Test case2
[code]

Output
[code]

[2020-05-02 08:26] Geequlim commented on #14
Thanks for your reporting.
This issue is fixed by 35fe07f.
Happy coding!

[2020-05-02 08:26] #14 closed

[2020-05-02 10:59] vonagam commented on #13
I am on mac as domis is. Maybe it is a platform specific issue?

[2020-05-04 15:09] josephrocca opened #16 "QuickJS is 20-100x slower than V8"
I noticed you said in the read me:

I'm guessing that you're already aware of the performance difference, but just in case, a few people mention benchmark results in this thread: https://news.ycombinator.com/item?id=20418602

[Deno](https://deno.land/std/manual.md) seems like it might be helpful, and [will hit v1.0 in about 8 days](https://github.com/denoland/deno/issues/2473). I've not mixed Rust

[2020-05-04 15:10] #16 closed

[2020-05-04 15:13] josephrocca commented on #16
Just found the [benchmark page](https://bellard.org/quickjs/bench.html) for QuickJS which shows the V8 JIT scores 🤦‍♂️ so I'm guessing you were already well aware of this!

[2020-05-08 21:16] drusin opened #17 "Not possible to manipulate x or y of built-in vectors"
Create something with a `Position`, like `Area2D`. Now try to manipulate only `x` or only `y` of the position:

[code]
I tried with `position` and `scale`, I assume all built-in vecors might behave the same.

[2020-05-08 21:22] drusin opened #18 "godot.randi() can return negative numbers"
According to the documentation, `randi()` should return a random integer between 0 and 2^32-1 which should make it trivial to get a random number in an interval via modulo.
`godot.randi()` can return negative values (I would assume between -2^16 and 2^16-1?) which forces you to wrap calls with `godot.floor()`.

[2020-05-08 21:44] drusin opened #19 "How do you export a PackedScene?"
I'm trying to redo https://docs.godotengine.org/en/latest/getting_started/step_by_step/your_first_game.html#main-scene with ECMAScript and did not manage to translate `export (PackedScene) var Mob`.
I tried
[code]
and
[code]
but both crashed the editor. What's the correct way to do this?

[2020-05-09 05:30] Geequlim commented on #17
You have to assign to the position property as all builtin types are value-like.

[2020-05-09 05:32] Geequlim commented on #17
this.position += new godot.Vector2(1,0)

[2020-05-09 16:16] drusin commented on #17
Stuff like `position.x = clamp(position.x, 0, screen_size.x)` works in *.gd, so I assumed it sould also work in *.js

[2020-05-09 17:16] Geequlim commented on #17
Does it works in C# ?

[2020-05-12 17:55] drusin commented on #17
No, it doesn't. So probably intended?

[2020-05-12 17:55] #17 closed

[2020-05-17 11:23] drusin commented on #19
There is no console error message at all when the editor crashes in the dirst example.

`godot.register_property(Main, 'Mob', godot.PackedScene);` produces
[code]
a few hundred times before crashing.

[2020-05-17 16:22] drusin opened #20 "Editor crashes when importing an ogg file"
Try to import an ogg file or to open a project with an ogg file. This crahes the editor on my system (Window 10 professional) with the following error in the console:
[code]

[2020-05-18 01:30] Geequlim commented on #19
The third paramater is **default value**. You don't need to tell the api type, the type will be detected automaticly.

Try this
[code]

[2020-05-19 17:33] drusin commented on #19
this works, thanks a lot!

[2020-05-19 17:33] #19 closed

[2020-05-25 21:30] clemlak opened #21 ""Cannot parse source code" issue"
Hello!

I'm facing a weird issue, every time I try to create a script and attach it to a node I get an error. Here is the error when I tried to attach a script to a sprite. Obviously, the script exists and the code is correct (didn't change the template).

[code]

[2020-05-26 13:13] Geequlim commented on #21
Which platform you are running on ?

[2020-05-26 15:08] Geequlim commented on #21
@clemlak  Can you try the new version solved your issue ?
https://github.com/Geequlim/ECMAScript/releases/tag/alpha6

[2020-05-27 08:06] clemlak commented on #21
The latest version fixed the issue! :+1:

[2020-05-27 08:31] #21 closed

[2020-06-12 01:31] Geequlim commented on #18
I don't think I did anything different for any bultin functions.

[2020-06-13 14:30] nhydock commented on #18
This is just a problem with javascript not having native unsigned int support by default, which is what godot is returning from randi.  Normally you would use js-ctypes if you wanted to have supported bindings to c/c++ datatypes

[2020-06-25 16:37] nhydock commented on #4
Just an idea something that might be interesting to explore wrt getting as much performance out of this as possible...

A lot of the godot built-in methods are there because for the convenience of GDScript, which is developed entirely within the closed ecosystem of Godot.  Javascript has a lot of similar math functions as part of its language, or you can get them as npm modules.  Because of the ov

[2020-06-26 04:17] Geequlim commented on #4
@nhydock I have thought about reducing the allocation by implementing the builtin type in JS.
But there is an important problem.
Can the performance of the QuickJS vm achieve the expectations? quickjs does not support JIT, and there are many computationally intensive functions in the built-in APIs, which may not achieve the ultimate goal.  Doing so may perform well in some simple use case like acq

[2020-06-26 15:40] nhydock commented on #4
a lot of the built-in types such as Vector2 and Basis I wouldn't touch, because those would need to always be converted back regardless since the engine heavily relies on those structs.  I was more interested in a lot of the pure math related functions, namely everything that's just convenience methods in https://docs.godotengine.org/en/stable/classes/class_@gdscript.html

Since they're purely com

[2020-06-29 07:27] Geequlim commented on #12
@vonagam Does the latest version fixed this ?

[2020-06-29 08:09] vonagam commented on #12
On my machine - yes. Steps i used to reproduce:

`git clone --depth=1 --branch=3.2 git@github.com:godotengine/godot.git`
`git clone git@github.com:Geequlim/ECMAScript.git` (in `godot/modules`)
`python3 $(which scons) platform=osx --jobs=$(sysctl -n hw.logicalcpu)` (in `godot`)
`git clone git@github.com:Geequlim/ECMAScriptDemos.git` (in some temp folder)
`./bin/godot.osx.tools.64 --verbose --path s

[2020-07-02 20:55] TomCaserta opened #23 "JSX/TSX file extension clashes with React/Hyperscript style file extensions"
Great project and works fine as is just leaving this issue as the `jsx`/`tsx` file extensions used are pretty much exclusive to React/hyperscript.

It's a little weird to adopt these in this project and causes some extensions in editors such as VSCode to believe that the file you are editing is of a react type. While it doesn't break anything it'd be nice not to have to disable/configure extension

[2020-07-03 01:33] Geequlim commented on #23
In godot engine a *Script* is treaded as a class extends from `godot.Object`. So only a script export a class that extends from `godot.Object` is a valid godot script.

The godot editor always tries to parse all files with valid script extension as a godot class. But most of our .js files in project are not aimmed to be used by Node so they don't extends from `godot.Object`. In editor side the scr

[2020-07-06 19:04] TomCaserta commented on #23
Thanks for the response, fair enough that makes sense :)

I guess you could opt to use a sort of sub-extension in a way, for example `my-script.godot.js` or `my-script.godot.ts` which could work. Either way it's not much of a big deal, guess this ticket can be closed 👍

[2020-07-07 20:52] TomCaserta opened #24 "Document advanced property support"
Right now it's very difficult to figure out how to actually 'export' (in the Godot meaning of that) `NodePaths` and other types. I saw the latest release notes and figured out that support has been added for something like as the 'default value':

[code]

But only after crashing the editor a few times by trying to set default value to something like `new godot.TileMap()` .

Would be great to have

[2020-07-08 08:56] BracerJack opened #26 "4 Questions in a Single Picture."
https://i.imgur.com/MJ5uiQS.png

Thank you for working towards giving Godot the ease of use of JavaScript.

[2020-07-08 09:51] Yaft commented on #26
Reading from the image was inconvenient. As far as I understand, there is a misunderstanding of the work of "Class syntax"

https://javascript.info/class

[2020-07-08 09:55] Geequlim commented on #26
Sorroy I can't open the image behand the Great Fire Wall.

[2020-07-08 09:55] #26 closed

[2020-07-08 11:38] BracerJack commented on #26
Thank you !
Do you happen to know why the for loop and setInterval doesn't work ?

[2020-07-08 13:13] Yaft commented on #26
`print is not defined` use `console.log(counter)`

`setInterval is not defined` setInterval не реализован в данном api, но даже если бы он был реализован, то доступ к методу необходимо было бы осуществлять через контекст класса `setInterval(this.testing, 1000);`

[code]

[2020-07-08 14:04] BracerJack commented on #26
Thank you Yaft, you are wonderful :D

[2020-07-08 15:18] Geequlim commented on #24
@TomCaserta For me writing English documents is a huge challenge. I will be very grateful if you can help improve the documentation.

The `godot.register_property` recives two kind of value for third argument to export properties to godot.
[code]
The first one recives an object with the interface `godot.PropertyInfo`.
https://github.com/Geequlim/ECMAScript/blob/4d1715e3c52dea4f02ed8fe22a6981cca8e0

[2020-07-08 16:26] Yaft commented on #26
[Godot API Timer](https://docs.godotengine.org/en/stable/classes/class_timer.html#class-timer-set-wait-time)

[2020-07-09 16:03] BracerJack opened #27 "console.log(godot.Performance.get_monitor(Performance.TIME_FPS));"
console.log(godot.Performance.get_monitor(Performance.TIME_FPS));

Error "Performance not defined".

I also tried: console.log(Performance.get_monitor(Performance.TIME_FPS));

Both doesn't work.

[2020-07-09 16:24] Geequlim commented on #27
console.log(godot.Performance.get_monitor(godot.Performance.TIME_FPS));

[2020-07-09 16:24] #27 closed

[2020-07-10 03:34] BracerJack commented on #27
Thank you  Geequlim !

[2020-07-12 11:44] Geequlim commented on #18
@drusin Can you try the latest version fixed the issue ?
You can download the precompiled binary file from the release page.

[2020-07-15 05:51] Geequlim commented on #4
A new benchmark result after opimize performance (In both binding code and script code)

![Benchmark result](https://user-images.githubusercontent.com/6964556/87508458-05a62e80-c6a2-11ea-99ad-5092f57b8eda.png)

As the result shows in `V1DrawTexture` we got more bunnies in JavaScript than GDScript.

[2020-07-16 07:52] BracerJack opened #28 "velocity = godot.Vector3(0,0,0); //This crash the scene, please help thanks."
export default class Ball extends godot.KinematicBody
{

	// Declare member variables here. Examples:
	a = 2;
	b = "text";

	velocity = godot.Vector3(0,0,0); //This crash the scene, please help thanks.

	constructor()
	{
		super();
	}

	_ready()
	{

	}

	_process(delta)
	{

	}

	_physics_process(delta)
	{

	}
}

[2020-07-16 10:02] Geequlim commented on #28
You should really learn JavaScript before starting making a game with this.

[2020-07-16 10:05] Geequlim commented on #28
Thank you for making this report of crash case.

[2020-07-16 10:06] BracerJack commented on #28
"You should really learn JavaScript before starting making a game with this."
I am sorry for offending you for asking a question.

How is this giving error:
velocity = godot.Vector3(0,0,0);

[2020-07-17 03:52] vonagam commented on #13
Works now.

[2020-07-17 03:52] #13 closed

[2020-07-18 17:11] Geequlim commented on #28
The crash shoud be fixed by 5010763

[2020-07-18 17:11] #28 closed

[2020-07-18 20:03] MichaelBelousov opened #29 "prefer package.json + node_modules to current godot.d.ts generation workflow"
Imo, more idiomatic typescript development (this might change with deno) practices call for the `godot.d.ts` and `decorators.ts` files to be a dependency, rather than generated by the editor. A combination of both could work, but I think the current workflow:

would be better done by generating a `package.json` that depends on some `godot-ecmascript` package on npm that would be maintained by this

[2020-07-18 20:25] MichaelBelousov opened #30 "generate strong types for engine signals and connections"
is there any interest in generating strong types for connections such as:

(this is probably a poor example, I'd need to dig in and make a PR to do it correctly)

[code]

[2020-07-18 20:40] MichaelBelousov commented on #30
another place that stronger inference would generate useful tooling: although I would need to research if it's even possible.

[code]

[2020-07-18 20:47] MichaelBelousov opened #31 "are there plans to generate puppet/master/remote/remotesync etc decorators?"
are there plans to generate puppet/master/remote/remotesync etc decorators?

Is there any reason they haven't been done yet? Couldn't it be done with a call to rpc_config at least in the short term?

[2020-07-18 21:45] BracerJack commented on #28
Where can I download the recompiled release ? Thanks.

[2020-07-18 22:36] MichaelBelousov opened #32 "add generic argument for cast for get_node"
Similar to C#'s `GetNode<Label>()`, add a generic argument to the `$` and `get_node` types.

Something like:
[code]

If there's no reason against it, I could submit a PR once I read up on the repository.

[2020-07-18 22:37] MichaelBelousov commented on #31
I added a few decorators to do the same thing using rpc_config in my code for now, I'll edit this once I've tested them.

[2020-07-18 23:06] MichaelBelousov commented on #31
looks like I'm definitely missing something :), my property decorators are being ran in such a way that they crash the system, I have some idea but I'll just wait for a response, and manually call rpc_config in my constructor for now.

[2020-07-19 03:14] Geequlim commented on #29
The `godot.d.ts` and `enumerations.jsx` is generated from the godot ClassDB. It can make sure the generated API always be correct to the current version of engine's API.

[2020-07-19 03:17] Geequlim commented on #30
In godot signal just a string constant.
That seems a lot of work to do but gains no difference in JavaScript.

[2020-07-19 03:18] Geequlim commented on #28
You have to build it yourself or wait next pre-release.

[2020-07-19 03:24] Geequlim commented on #32
That looks good to me.
Fell free to make the second way avaliable.
[code]

[2020-07-19 03:30] Geequlim commented on #31
I never using this kind of features in Godot.
I'd like to advice never touching theme as they are not battle tested features.
Fell free to implement them in script side. And pin me if anything is blocking you implement these features in the binding side.

[2020-07-19 03:36] MichaelBelousov commented on #30
I'm just personally a big fan of strong typing in typescript, and it offers better intellisense/tooling, such as having a type error if you pass arguments that don't correspond to the connected signal. I can look into it and offer a PR and better proof of concept

[2020-07-19 03:37] MichaelBelousov commented on #31
I'll look into them more, I was getting some issues on the binding side but I can look into that too

[2020-07-19 03:40] MichaelBelousov commented on #29
you're right. I wanna say you could use a `file:` version dependency, but I think it's fine as is. I'll close this. Thank you!

[2020-07-19 03:40] #29 closed

[2020-07-19 03:41] MichaelBelousov commented on #32
I'll submit a PR soon and close this after

[2020-07-19 05:42] MichaelBelousov commented on #31
What are the ramifications of this implementation?

[code]

Manipulating the bound `_ready` method is a bit problematic, but I'm not sure how else to inject property modifying code on object creation, and I couldn't do it with the constructor that existed on the prototype. Any ideas? I'm also knew to using decorators in typescript (I've always wanted to but it's not popular in the communities in w

[2020-07-19 20:42] MichaelBelousov commented on #31
So indeed I can't really alter the constructor from a property decorator since that doesn't let me generate/replace the class. I could however use metadata to do something in the bindings probably.
https://stackoverflow.com/questions/9267157/why-is-it-impossible-to-change-constructor-function-from-prototype

The above solutions works for now, but I plan on contributing a better one eventually, onc

[2020-07-20 02:55] MichaelBelousov opened #33 "typescript doesn't understand the quickjs operator overloads for godot algebraic types"
the following code yields an error:
[code]
The error is:
[code]
it can be avoided like so:
[code]
is there anyway to avoid this in typescript?

[2020-07-20 02:57] MichaelBelousov commented on #33
I suppose the best thing to do in typescript land would be use the explicit godotscript methods over the operators.

[2020-07-20 03:15] MichaelBelousov commented on #33
one potential solution is monkey patching some add/sub functions into the godot.Vector2 prototype. But that might not be performant. Another is to fork the typescript compiler 😂 . Although perhaps it's worth making an issue with them about supporting quickJS's quirky operator overloading...

[2020-07-20 03:23] Geequlim commented on #33
Add `//@ts-ignore` uppon the line of code using operators

[2020-07-21 00:15] MichaelBelousov commented on #33
after looking at several typescript issues, ts-ignore is the way to go, typescript will never support quickjs's non-standard quirk.

[2020-07-21 00:15] #33 closed

[2020-07-21 04:38] Flux159 opened #35 "Godot 4.0 Branch"
Hi, thanks for the great module getting JS support in Godot! I was wondering if you were looking at supporting Godot 4.0 in a separate branch.

Godot 4.0 (currently pre-alpha / in development on master branch of godot repository) has a number of breaking API changes, I was experimenting with some of these changes in https://github.com/Flux159/ECMAScript/tree/godot_4.0, but ran into some issues wit

[2020-07-21 04:42] Flux159 opened #36 "Thoughts on prebuilt binaries"
Hi, do you have thoughts on providing prebuilt binaries of Godot with the ECMAScript module already installed?

Specifically, making the builds as mentioned in the README
[code]

is a significant burden to getting started with the project (not to mention making binaries w/out tools for exporting published games). I was wondering if it makes sense to provide prebuilt binaries (or setup a CI/CD pipe

[2020-07-21 05:49] Geequlim commented on #33
We can provide feedback and this use case to TypeScript upstream. Let TypeScript be able to allow this kind of syntax or be able to disable this kind of error reporting. Unfortunately, my English may not be understood by others.

[2020-07-21 05:52] Geequlim commented on #35
I'm still waiting godot 4.0 to reach beta or RC status.

[2020-07-21 05:56] Geequlim commented on #36
Yes that make sense.
I can only develop this project in my spare time, so I hope to spend time on improving and optimizing it. I would appreciate it if anyone could provide similar help.

[2020-07-21 12:04] MichaelBelousov commented on #33
it's no problem, I was considering making an issue on TS, i might still, but after reading related issues on their repo I think it's unlikely that they'll want to support a non-standard feature that only quickJS supports. ts-ignore is recommended for such edge cases so I think you're right and decided to close the issue.

[2020-07-22 16:53] BracerJack opened #37 "What is the URL to download the compiled release ?"
What is the URL to download the compiled release ?
Thanks.

[2020-07-22 18:23] Yaft commented on #37
https://github.com/GodotExplorer/ECMAScript/releases

[2020-07-22 19:33] BracerJack commented on #37
Thanks Yaft ! You have always been very helpful :D

[2020-07-22 19:44] BracerJack opened #38 "Input.is_action_pressed("ui_right") not triggering"
_physics_process(delta)
	{
		if (Input.is_action_pressed("ui_right"))
		{
			console.log("Right Pressed !");
		}
	}

[2020-07-22 21:17] Yaft commented on #38
Для доступа к методам godot необходимо обращаться к глобальной переменной "godot"
`godot.Input.is_action_pressed("ui_right")`

[2020-07-22 21:22] BracerJack commented on #38
Hello Yaft:
	if (godot.Input.is_action_pressed("ui_right"))
		{
			console.log("Right Pressed !");
		}
It doesn't work, it didn't print otu anything in console, I also double checked project settings->Input Map, everything there checks out.

[2020-07-22 22:03] Yaft commented on #38
Perhaps this small [example](https://github.com/GodotExplorer/ECMAScript/files/4962875/topdown_test.zip) will help you. I don't claim to be good quality, but it works. This example is focused on working with a camera for a double stick topdown shooter, like a "hotline miami". This works on  gamepad and hasn't been adapted for keyboard and mouse

[2020-07-25 17:33] MichaelBelousov commented on #31
I see hints that there may be a convention of adding `$onready:` prefixed properties that the bindings automatically execute on ready. I'll look into this later and hopefully contribute a PR. Before I do so, I am rewriting a codebase I have into ECMAScript so I have a live application to test with.

[2020-07-25 17:34] MichaelBelousov commented on #32
there are a few other places I'd consider contributing stronger generics, I'll make a PR hopefully soon, I am still converting my current codebase into typescript from C#, after which I can make a PR and close this issue

[2020-07-26 15:00] MichaelBelousov opened #39 "Add iterator implementation to the Pool*Array types"
I'm not sure this is possible, but for now I have to do:
[code]

I may be able to do this myself by attaching a Symbol.iterator property to the prototype which I will try, and can submit a PR for when done. Which might still take some time considering the codebase I'm converting.

[2020-07-27 23:59] MichaelBelousov opened #40 "Cyclic imports cause stack overflow + segfault"
Provided is a minimal reproduction of a bug (~~I'm not sure whether in QuickJS or these bindings~~) where cyclic imports cause a segmentation fault.

[ecmascript-cyclicdep-mvr.zip](https://github.com/GodotExplorer/ECMAScript/files/4985247/ecmascript-cyclicdep-mvr.zip)

Cyclic imports don't really work in ECMAScript modules (they're often undefined) so I should probably work around them, and maybe

[2020-07-28 00:17] MichaelBelousov commented on #40
Alright, I managed to use this amazing online vm https://bellard.org/jslinux/vm.html?url=alpine-x86.cfg since building qjs on my machine didn't work yesterday to confirm that qjs does not have a bug handling cyclic dependencies, It does seem specific to these bindings.

[2020-07-28 05:15] Flux159 opened #42 "Windows builds broken due to quickjs_debugger"
As mentioned in #41 windows (mingw) builds are broken on master due to quickjs_debugger using sys/socket.h

[2020-07-28 06:18] Geequlim commented on #42
Hi @Flux159 , Thanks for your contribution !

I'm busy in these days. Will find some time to fix this by implement the quickjs debugger transport in godot TCP api.

[2020-07-28 17:00] PedroExpedito opened #43 "is export compatible for android?"
I did not succeed.

I generated the apk and installed it on my smartphone, but the game didn't work

[2020-07-28 22:31] Flux159 commented on #42
No rush, I'm on macOS & most people not compiling from master can use prebuilt binaries :).

Thanks for the great project btw!

[2020-07-30 01:17] MichaelBelousov commented on #40
I'm currently working on a fix, it looks like there is mutual recursion in the custom module resolver function.

[2020-07-30 01:29] MichaelBelousov commented on #40
nevermind it's late I'm going to sleep but I'll do it tomorrow.

[2020-07-31 02:24] MichaelBelousov commented on #40
unfortunately I'm very busy this weekend and may have to wait until monday to get to this 😢 . I don't think it's going to be hard to fix, but I'll get to it soon.

[2020-07-31 03:19] Geequlim commented on #40
I think we should avoid cyclic import. I'm curious about the behavior of
node for this situation.

Michael Belousov <notifications@github.com>于2020年7月31日 周五10:25写道：

[2020-07-31 13:43] MichaelBelousov commented on #40
The problem with avoiding cyclic imports imo is for signals. Yes, you should probably avoid them, but consider the following:

[code]

[code]

QuickJS seems to handle this fine, the problem is with the import resolution hook. I can check node as well, but iirc cyclic imports in node usually lead to undefined references.

You'd have to separate your signal definitions to their own module and import

[2020-07-31 14:03] MichaelBelousov commented on #40
It doesn't work in node.js, at least the basic javascript I wrote doesn't. I might want to try typescript's transpiled result, but I don't think it works. I guess cyclic imports should definitely be avoided. Maybe we can add detection of cyclic imports in the module resolving hook and warn rather than crash?

[2020-07-31 14:14] MichaelBelousov commented on #40
apparently the way ts transpiles it works:
A.ts:
[code]

B.ts
[code]

[2020-08-01 15:30] Geequlim commented on #42
Fixed

[2020-08-01 15:30] #42 closed

[2020-08-01 15:32] Geequlim commented on #43
You can try the new publish template apk from the release page.

[2020-08-02 05:51] #43 closed

[2020-08-02 05:52] #38 closed

[2020-08-02 05:52] #37 closed

[2020-08-02 05:52] #36 closed

[2020-08-02 05:53] #23 closed

[2020-08-02 05:54] Geequlim commented on #12
@vonagam  Does alpha12 fixed this ?

[2020-08-02 05:55] Geequlim commented on #20
I don't think this is releated to the JavaScript binding

[2020-08-02 05:55] #20 closed

[2020-08-02 05:55] Geequlim commented on #18
Should be fix as we are using 64bit integer now

[2020-08-02 05:55] #18 closed

[2020-08-02 07:02] #39 closed

[2020-08-02 07:15] Geequlim commented on #32
You can using `this.get_node(godot.Sprite)` to get first Sprite childe.
For `get_node(path: string)` I'd like to suggest following the typescript style guide.
Using
[code]

instead of
[code]

[2020-08-02 10:21] vonagam commented on #12
No.

[2020-08-02 14:06] MichaelBelousov commented on #32
You're right. It should probably just stay as is, closing.

[2020-08-02 14:06] #32 closed

[2020-08-02 19:02] MichaelBelousov commented on #40
So the problem actually seems to stem from TestA being loaded into quickjs's internal module cache as "res://TestA.jsx" (since it's loaded directly by filename), while TestB is stored as "res://TestB" since it's imported as "./TestB". I can post an up to date reproduction if necessary.

So just changing the import to specify the extension, like so:

[code]
seems to fix it.

But, adopting that woul

[2020-08-02 19:10] MichaelBelousov commented on #40
my current typescript environment actually seems to keep all correct types, intellisense, resolution, etc even when adding the `.jsx` extension to imports. So it's completely avoidable. I'm not sure what you want to do about this. I'll leave this up for you to decide. I'll just start explicitly importing with the extension for now to mitigate this in my own codebase.

[2020-08-02 19:22] MichaelBelousov commented on #40
I'll also double check that my own changes did not affect that the explicit .jsx import path is a fix in master

[2020-08-07 08:35] kane-thornwyrd opened #44 "Are Singleton / Autoload supported ? How ?"
Hello the GodotExplorer ECMAScript Team !

First: Thank you, this is awesome !
Second: the question in the title, so "Are Singleton / Autoload supported ? How ?"

Thank you !

[2020-08-07 14:34] Geequlim commented on #44
You can reference the autoload demo here
https://github.com/GodotExplorer/ECMAScriptDemos/tree/master/autoload

[2020-08-07 14:34] #44 closed

[2020-08-07 16:44] kane-thornwyrd commented on #44
Thank you, sorry, I didn't saw the autoload demo.
I think I'll fork, make a nice README.md and a PR, this will be better for users.

[2020-08-10 02:41] MichaelBelousov commented on #31
I believe I have a decent solution, I'll make a PR soon, after more testing.

[2020-08-10 02:53] MichaelBelousov opened #45 "signals on classes that aren't attached as a script are never registered"
Suppose you have two source files, A and B, with A attached as a script to some node.

A:
[code]

B:
[code]

A is loaded as a script so `register_ecma_class` is called and the signals property is used to register signals. B however only gets the signals property, but they don't get registered. I can look into a fix.

[2020-08-10 03:02] MichaelBelousov commented on #45
honestly I'm not sure what the behavior in gdscript is, although I believe the behavior I'm expecting did work in C#. I should check in gdscript.

[2020-08-10 03:18] MichaelBelousov commented on #45
I was able to get around this for now like so:
[code]
You can't preload or there will be a stack overflow because of a cyclic dependency it seems.

[2020-08-10 05:39] Geequlim commented on #45
Thanks for your report.
This bug will be fixed in next release.

[2020-08-12 15:53] #45 closed

[2020-08-12 15:56] Geequlim commented on #45
The latest commit fixed this problem.
Here is the demo to using anonymous ECMAScript with the `gdclass` decorator in TypeScript.
[code]

[2020-08-13 03:13] MichaelBelousov opened #46 "[BUG] object with signal that has more than one connection deletes arguments between the calls"
I haven't set up a minimal viable reproduction yet, but I have a script class (A) with a signal, and then two nodes (both of class B) connect to the node of class A. When A emits its signal, the first node of class B gets the emitted arguments with the call:
[code]
But the second node of class B gets an undefined argument instead, and because the bad argument is never set in QuickJSBinder::call, a

[2020-08-13 06:39] Geequlim commented on #46
A simple demo to reproduce is welcomed. It's hard for me to understand such
long English statements.

Michael Belousov <notifications@github.com>于2020年8月13日 周四11:14写道：

[2020-08-13 14:02] Geequlim commented on #46
Here is a demo project I tested.
Everything works as expected
[code]

Output content
[code]

[2020-08-13 23:58] MichaelBelousov commented on #46
I'll try making a reproduction tomorrow, I couldn't do it minimally either so maybe it's something else. But I do have some strange behavior going on...

[2020-08-14 00:49] MichaelBelousov commented on #46
Alright I did it tonight instead :). This is a weird one. Check out this reproduction code:
A.jsx
[code]
B.jsx
[code]
Basic scene for running script A:
[code]
Output:
[code]
So on the second call it receives `null`. I haven't yet tested for a less specific reproduction,  but I can tomorrow if you don't figure it out by then :)

[2020-08-14 16:28] Geequlim commented on #40
The cyclic import is not supported. The stack overflow + segfault is fixed and an error message will display.

[2020-08-14 16:28] #40 closed

[2020-08-15 01:25] Geequlim commented on #46
@MichaelBelousov  Your code contains cycle import whic should not work

[2020-08-15 02:00] MichaelBelousov commented on #46
but it does. You can remove the cycle like this:
[code]

[2020-08-15 03:39] Geequlim commented on #46
Still can't reproduce.
You'd better provide an demo project

Michael Belousov <notifications@github.com>于2020年8月15日 周六10:00写道：

[2020-08-15 04:33] MichaelBelousov commented on #46
Here's my minimal demo:
[ecmascript-multisignal-mvr.zip](https://github.com/GodotExplorer/ECMAScript/files/5078097/ecmascript-multisignal-mvr.zip)
It produces:
[code]
on my system. If you can't reproduce, maybe I should try rebasing on a different version of godot and see if that fixes it? Also I have one other module in my local engine source.

[2020-08-15 16:39] #46 closed

[2020-08-15 16:40] Geequlim commented on #46
@MichaelBelousov Thank your for reporting the bug and provide the demo project. This issue is fixed now :)

[2020-08-15 17:20] MichaelBelousov commented on #46
Thank you! awesome work!

[2020-08-15 18:14] MichaelBelousov commented on #45
@Geequlim  I am starting to use the `gdclass` decorator and it's not in the generated decorators.js, it's in the godot.d.ts, is this intended? I had to manually move it over for it work since .d.ts files don't emit js.

[2020-08-15 18:42] MichaelBelousov opened #47 "Autoload scripts break after multithread support commit (35505d14417c3a5)"
I merged the upstream changes, and all of my auto load scripts now cause the following:

[code]

I'm sorry for the vague issue, but I used `git bisect` to find that the multi threaded classes commit broke it:

[code]

And I thought you might know what happened, faster than I can dig in.

[2020-08-15 18:51] MichaelBelousov commented on #47
here is an mvr based on the double signal bug, where I just removed the script from the main scene and instead load that script as an autoload/singleton:
[ecmascript-autoload-mvr.zip](https://github.com/GodotExplorer/ECMAScript/files/5079281/ecmascript-autoload-mvr.zip)

[2020-08-16 00:59] Geequlim commented on #45
@MichaelBelousov  Thanks for your remind. `gdclass` is moved to `decorator.ts` now.

[2020-08-16 01:24] #47 closed

[2020-08-16 01:45] MichaelBelousov commented on #31
just an update, here's the temporary solution, I'll make a PR once I have finished converting my codebase to ecmascript without any bugs, and have tested a live multiplayer scenario.

[code]

Just plop that in decorators.ts.

[2020-08-16 01:55] Geequlim commented on #31
Are you tested them in your project ?
Is fine to add it to the decorator.ts if you really want these features.

[2020-08-16 01:58] MichaelBelousov commented on #31
I definitely will as soon as I test them more. I tested them minimally a while ago. I can do some testing again tomorrow and submit a PR.

[2020-08-16 02:15] MichaelBelousov opened #48 "godot.InputEvent pressed property doesn't work, but is_pressed getter does"
Here's a reproduction:
[ecmascript-pressed.zip](https://github.com/GodotExplorer/ECMAScript/files/5079860/ecmascript-pressed.zip)

Here's the running script:

[code]

Notice that the right click triggers the print, but not the left.

[2020-08-16 02:27] Geequlim commented on #48
Does it works on GDScript ?

[2020-08-16 02:29] MichaelBelousov commented on #48
will confirm but it should

[2020-08-16 02:32] MichaelBelousov commented on #48
It does, I converted it like so:

[code]

[2020-08-16 02:34] Geequlim commented on #48
You'd better report in upstream why this is commented out.
https://github.com/godotengine/godot/blob/72d12289bb5e46ad2ec840a23a247f5690afb0d3/core/os/input_event.cpp#L539

[2020-08-16 02:37] MichaelBelousov commented on #48
great question...

[2020-08-16 02:38] MichaelBelousov commented on #48
the git blame says it was done 3 years ago when removing the input event from the variant type. I can try to find the original author of that change on discord and ask them

[2020-08-16 15:58] MichaelBelousov opened #49 "godot.Input.MOUSE_MODE_CONFINED is undefined (probably all enum members)"
given the following code:
[code]
you can see that both the enum which typescript expects, as wells as the enum constants on the `godot.Input` class itself are undefined. The equivalent gdscript works:
[code]

Here is a project containing the scripts:
[ecmascript-mouse-mode-confined.zip](https://github.com/GodotExplorer/ECMAScript/files/5080949/ecmascript-mouse-mode-confined.zip)

If the enum is no

[2020-08-16 18:04] Geequlim commented on #12
@vonagam I can reproduce the issue when compiled in debug mode with llvm.
In release mode or compile with gcc in debug and release mode it won't crash.

[2020-08-17 04:53] vonagam opened #50 "resolution of node_modules"
In `resolve_module_file` requested CommonJS module with `require('$name')` [is expected](https://github.com/GodotExplorer/ECMAScript/blob/5c89a038345bbf8598cc82dd73355a0c02683803/quickjs/quickjs_binder.cpp#L609) to have a package at `node_modules/$name/package.json` at root of a godot project.

- What if one want to move all js files (with node_modules) into a subfolder, like `/js`?

- What if pac

[2020-08-17 09:04] vonagam opened #51 "requiring node module does not work in export"
It works in editor, but once exported does not.

It works in export only with a relative path in `require` call and with "Script Export Mode" as "Text".

[2020-08-17 10:07] Geequlim commented on #51
commonjs modules does not suppprt compile to bytecode yet

[2020-08-17 10:09] vonagam commented on #51
What about "only with a relative path" part?

[2020-08-17 11:58] vonagam opened #52 "node_modules, gdignore and export"
Currently godot scans and exports all files in node_modules folder, which is no good as it is notorious for becoming big in size. (Typescript folder is more than 50MB.)

There is `.gdignore` for that. Can be added automatically with some script in package.json:
[code]
(Should be something else on windows - there is no `touch` there.)

Problem is - it will prevent needed files from being included i

[2020-08-17 12:13] Geequlim commented on #52
Feel free to using webpack
The node module is mostly for development usage.

[2020-08-17 12:26] vonagam commented on #52
I mean that maybe a basic setup/config for some bundler (webpack, rollup or other) can be included with `Generate TypeScript Project`.

Those issues with resolution, ignoring, exporting do apply to every project, they are not project specific.

Or do you think that this is out of scope?

[2020-08-17 12:35] Geequlim commented on #52
I think we only need to ensure the functions of the core language binding. As for the use and selection of third-party libraries and tool chains, it should be left to its users. Of course, we can specify the design intent of which features in the document.

For node modules, its design intent is to quickly test third-party libraries, rather than directly releasing them into products. No one wants

[2020-08-17 12:37] #52 closed

[2020-08-17 13:32] #49 closed

[2020-08-17 13:35] Geequlim commented on #49
Thanks for your report again !

[2020-08-17 13:50] vonagam commented on #51
I see, one is not expected to export node_modules and has to use come tool that compiles code into ES module(s).

[2020-08-17 13:50] #51 closed

[2020-08-17 13:54] vonagam commented on #50
As i understand now, node_modules resolution is not intended to be proper, just bare minimum to test simple scripts.
For an actual project some bundler has to be used.

[2020-08-17 13:54] #50 closed

[2020-08-17 21:27] MichaelBelousov commented on #48
I haven't gotten a reply by private message, I'll ask in one of the chats and eventually move to an issue on the github if no one can answer.

[2020-08-17 21:40] MichaelBelousov commented on #48
On IRC Fales (the godot JavaScript backend maintainer) told me that is commented out because it is bound in the super class:
[code]

[2020-08-18 05:27] Geequlim commented on #48
Ok I will find time to fix this  soon.

[2020-08-18 08:46] vonagam commented on #52
For reference, here is a basic rollup config for ECMAScript project:
[code]

For a structure like this to work:
[code]

It needs addition of following packages:
[code]

And in package.json, initial scripts are replaced with those:
[code]

[2020-08-18 12:35] #48 closed

[2020-08-18 12:36] Geequlim commented on #48
Thanks for your report. This issue is fixed by bedb532

[2020-08-20 19:47] MichaelBelousov commented on #31
just an update, I delayed because of the codebase I'm using is still being converted somewhat, and I noticed there are some settings I missed. I can definitely do it this weekend unless someone beats me to it.

[2020-08-23 17:46] MichaelBelousov commented on #31
PR is up, everything looks good, solved some gotchas, still would be nice if someone else tries it (or not and I'll fix issues found later). A test project is attached to the PR thread

[2020-08-28 01:28] Veradictus opened #54 "Socket.io NPM"
Has anyone had any luck with getting socket.io-client npm functional with this? It seems that it does not read npm module entry properly for me.

[code]

[2020-08-28 13:12] caperaven opened #55 "QuickJs vs V8"
Please excuse my ignorance in complexity of these things but I was wonder the following.
Since V8 is in orders of magnitude faster than quickjs, why not use V8 as the js engine?

[2020-08-28 14:57] Geequlim commented on #55
1. V8 is too heavy the compiled binary is about 16MB+
2. V8 take too much of memory
3. V8 is complicated to compiled and integrate to godot build system
4. V8 doesn't support operator overloading
5. QuickJS does not slow as you think it is even faster than lua. The jit of V8 is not available on iOS and consoles the performance is the same level.

[2020-08-31 06:31] rosshadden opened #56 "Missing print functionality"
I notice we're missing some print functions that are in gdscript. Namely [prints](https://docs.godotengine.org/en/stable/classes/class_@gdscript.html#class-gdscript-method-prints), [printt](https://docs.godotengine.org/en/stable/classes/class_@gdscript.html#class-gdscript-method-printt), [print_debug](https://docs.godotengine.org/en/stable/classes/class_@gdscript.html#class-gdscript-method-print-d

[2020-08-31 06:34] rosshadden commented on #56
Fortunately, `console.log` itself works and has pretty much the same output as `prints`, so that's a good workaround for now. But I think all of the above functions should be mapped for completion.

[2020-08-31 06:40] rosshadden commented on #56
I found a few more missing:
- `push_error`
- `push_warning`
- `is_instance_valid
- `get_stack`
- `Color8`
- `ColorN`

I could automate a way to generate a list of missing mapped functions if that would be helpful.

[2020-09-01 20:25] #55 closed

[2020-09-06 08:59] AsakuraMizu opened #57 "Can not compile on platform=javascript target=release_debug"
Error log:
[code]

[2020-09-07 04:23] Geequlim commented on #56
We don't need all of them.

[2020-09-07 12:16] MichaelBelousov commented on #31
Resolved by #53

[2020-09-07 12:16] #31 closed

[2020-09-09 00:53] AsakuraMizu opened #59 "export { default } from xxx lead to a crash"
Example:
a.js
[code]

b.js
[code]

And this will also crash:
c.js
[code]

d.js
[code]

[2020-09-16 20:23] linkpy opened #60 "Debugger : "Could not load source 'test.tsx'""
First of all, sorry if it's not the right place to create this issue, but i can't find how to create on in GodotExplorer/godot-javascript-debug.

`test.tsx` :
[code]

The file is compiled with `tsc -w -p .`

`lunch.json` :
[code]

Running the engine, i get :
![image](https://user-images.githubusercontent.com/2700596/93388482-12462f00-f86b-11ea-8d0c-35a084a77379.png)

Am i missing something ?
Thank

[2020-09-16 20:45] ShalokShalom opened #61 "High level multiplayer"
I think the ecmascript support left out the high level multiplayer features, correct?

[2020-09-16 21:57] linkpy opened #62 "Debugger : memory leaks"
Before any debugging session :

![image](https://user-images.githubusercontent.com/2700596/93396438-f5642880-f877-11ea-92bb-6083506f23b0.png)

After a single debugging session (which crashed because of missing resource) :

![image](https://user-images.githubusercontent.com/2700596/93396523-1c225f00-f878-11ea-814c-a483e9bc3fa3.png)

And it keep increasing, even if there is nothing running now in vs

[2020-09-17 01:22] Geequlim commented on #61
see #53

[2020-09-17 01:23] Geequlim commented on #59
Does `default` is a keyword to prevent you doing this ?

[2020-09-17 07:02] linkpy commented on #62
From the process explorer of VSCode, the memory leaks is related to the "extensionHost" process.

![image](https://user-images.githubusercontent.com/2700596/93431041-de4b2800-f8c3-11ea-8b91-0c8226e2f980.png)

`"C:\Users\linkie-pi\AppData\Local\Programs\Miocrosoft VS Code\Code.exe" --inspect-port=0 "c:\Users\linkie-pi\AppData\Local\Programs\Microsoft VS Code\resources\app\out\bootstrap-fork" --type

[2020-09-17 07:08] linkpy commented on #62
I narrowed down the memory leak origin :
It happens when i try to stop the godot process by pressing the stop button from VSCode debugger. If i close godot directly, the memory leak doesn't happen. It happen after pressing the stop button.

Futhermore, when pressing the stop button in vscode, the godot's window isn't closed.

[2020-09-17 07:35] linkpy opened #63 "Debugger : breakpoints not triggered in typescript."
[code]

The breakpoint in _ready is triggered, not the one in _process. The same file, in JavaScript, has its breakpoint correctly triggered.

[code]

The breakpoint is never triggered. The same script in JS has the breakpoint triggered correctly.

[2020-09-17 12:33] linkpy commented on #63
After debugging the extension a bit, I think i found out what is the issue.

It seems that `SourceMapSession.translateFileLocationtoRemote` is sometime calls before the end of `SourceMapSession.loadSourceMaps`, thus it doesn't have the source maps loaded to translate them correctly.

[2020-09-17 23:12] #61 closed

[2020-09-19 02:19] #62 closed

[2020-09-19 02:21] #60 closed

[2020-09-19 02:21] #63 closed

[2020-09-22 10:22] dicarne opened #64 "@onready raise Error"
The code is:
[code]
and some errors were printed in console:
[code]
What's wrong?

[2020-09-23 12:09] jcostello commented on #59
@AsakuraMizu I think you can't use 'default' in case b.js and d.js. Its a keyword

[2020-09-24 00:45] averagehat opened #65 "API Documentation"
As far as I can tell there is no easily accessible API documentation outside of the source code.

However, the typescript declaration file has most functions documented in addition to its types.

I suggest using `typedoc` to generate documentation. Users can do this themselves or this can be hosted online for free. An example:  https://funkia.github.io/hareactive/

This command worked for me:

[co

[2020-09-24 20:03] linkpy commented on #65
I dont think documentation is needed. You can use gdscript's documentation, you'll have the same info. the only thing that needs to be documented is stuff you dont find elsewhere (like how to register a signal, or typescript's decorators).

[2020-09-24 23:36] averagehat commented on #64
I get the same error.

As a minimal example, replace paintings.jsx with compiled form of this file:

https://gist.github.com/averagehat/55a96c33149b4702dac17a2c9acd2161

this.get_node works but @onready doesn't.

[2020-09-24 23:44] Geequlim commented on #64
I think only default class and classes with '@gdclass' decorator can using this kind of decorators

[2020-09-30 01:00] Flux159 commented on #65
Probably a good idea to have a docs page - not everyone likes to read source code for api usage.

To be honest, it would be better to have a "Javascript" section in godot's docs (like https://docs.godotengine.org/en/stable/tutorials/gui/gui_skinning.html should have a Javascript code tab), but since this isn't integrated into godot, typedoc is a decent alternative.

I generated typedoc docs and pu

[2020-10-01 13:59] ShalokShalom opened #66 "Godot-language-support"
Feel free to provide information about the current state of the project on this semi-official repository:

https://github.com/Vivraan/godot-lang-support

I am especially interested into the platform support, so about HTML5, mobile and so on. What works, what is tested?

Much fun :🎉

[2020-10-02 02:23] AsakuraMizu commented on #66
I have made it to compile on every platform except HTML5 `release_debug` (see #58), but I haven't test them yet

[2020-10-05 10:53] #66 closed

[2020-10-05 11:52] Geequlim commented on #65
@Flux159  That looks cool. PR welcomed :P

[2020-10-09 18:53] Justin712 opened #67 "Can't build to web"
Hey this project seems really great, but am I missing something here? Can ECMAScript Godot really not build to web? If so that's incredibly ironic and a real letdown. When I export to web it packs the JSX files as JSXB files into the assembly and just gives a bunch of errors about not being able to read them in the latest ECMAScript Godot 3.2.3

Any help is appreciated!

[2020-10-09 20:42] Justin712 commented on #67
Kinda took some digging around, but I got it! A getting started page would help this project a lot hahaha

Fantastic work so far, this looks like it's exactly what I need!

In case it helps anyone, in order to export to web, set the script export mode to "text" in the export options and download the webassembly template from the top build of [the automated releases](https://github.com/GodotExplore

[2020-10-09 20:42] #67 closed

[2020-10-10 18:44] Justin712 opened #68 "Accessing the global scope"
Hello again!
I've been trying to figure out a way around this problem I've run into. QuickJS creates its own scope within Godot, but I need to access the javascript, the window variable, or the document variable included with the HTML document from a web build and I don't think that's possible.

Alternatively I could also import the js file into Godot and run it, but this js file attaches its meth

[2020-10-10 20:27] Flux159 commented on #68
I haven't tried it, but does https://docs.godotengine.org/en/stable/getting_started/workflow/export/exporting_for_web.html#calling-javascript-from-script work for accessing window in an html build? There's a bunch of issues with trying to use that eval function for anything but a toy example though (how to get return values, etc.).

The issue here is that when godot is compiled for the web w/ this

[2020-10-10 20:42] Justin712 commented on #68
It does work yes, I found that shortly after posting this, but unfortunately I do need access between the 2 and that only gives 1 way access unless you do polling which is a pretty awful way of handling things. There's a Godot.call() function exposed to the Javascript console, but there's no documentation on it so I can't tell whether it's what I'm looking for, and searching around has only pointe

[2020-10-10 22:22] Flux159 commented on #68
According to [this](https://godotengine.org/qa/19036/possible-javascript-singleton-request-game-when-exported) you might be able to get serialized (string) data back from Javascript.eval, which would at least allow you to do some bidirectional communication, but it's going to be messy for anything that needs event handling.

It might be possible to make a better abstraction by updating [godot's C+

[2020-10-11 02:30] Flux159 opened #70 "Document how to add a new function in godot/core that is accessible via JS binding"
I was just experimenting with adding a new function to `godot/core/image.cpp` to access through Javascript and thought it would be useful to document for others who needed new C++ methods accessible via Javascript (for perf or other reasons).

I made a gist here: https://gist.github.com/Flux159/b602806d3941e530e87cf969400a7994 with notes, but the basics are as follows for image.cpp:
* Update the h

[2020-10-13 02:54] Flux159 opened #71 "godot.lerp errors for Vector3 not using the correct type"
Hi, getting an error trying to use godot.lerp for Vector3 types (positions).

[code]

The documentation in godot.d.ts says that the function should accept Vector2, Vector3, or Color arguments, but it seems like it's only expecting floats at runtime.
[code]

I was able to easily get around this by writing a vector3 lerp function in typescript, but it would be nice to be able to use the builtin func

[2020-10-13 11:30] Geequlim commented on #71
How about `godot.round` and `godot.ceil` ?

[2020-10-13 15:06] Flux159 commented on #71
`godot.round` and `godot.ceil` both are typed properly in godot.d.ts and function as expected on floats / error out on Vector3:

[code]

Trying to use a Vector3 ends up failing, but floats work fine:
[code]

[code]

[2020-10-17 01:44] Flux159 commented on #70
This is documented in godot's documentation & seems to work the same for Ecmascript, closing out.

https://docs.godotengine.org/en/stable/development/cpp/binding_to_external_libraries.html

[2020-10-17 01:44] #70 closed

[2020-10-17 15:05] Flux159 opened #72 "Issues with JSON.stringify for godot objects"
Hi, I found a number of issues with JSON.stringify having some unexpected behavior when trying to write to a file from a tool script for godot objects.

* There are a number of properties (`__class__`,`__ptr__`, `__ctx__`, `__id__`)  that are added to every instance of a class that extends godot.Node / seem to be properties to interact with the binding layer
* The "name" property is completely omi

[2020-10-18 12:42] Geequlim commented on #72
These internal properties only exist under debug build for debug usage. It is better to add an option in project settings to disable  it.

I think the `name` is a property of `godot.Node` with getter and setter so it is omitted. And we should make them enumerable.

[2020-10-20 15:39] lewispollard opened #73 "Unable to get autocompletion working"
First off, this is amazing, thanks to all who've contributed so far.

I'd love to use this but for now I can't get any kind of code completion working. Is this feature exclusive to TS projects? I have tried the Godot internal editor, and VS code, but it doesn't seem to be able to pick up the types in either, and offers no code completion at all, so I have to keep referencing the docs, which is a b

[2020-10-26 18:27] ajboni commented on #73
Same here,  typing `godot.` won't bring anything neither in vscode nor in the internal editor.  File extension is `.jsx`

[2020-10-26 18:36] lewispollard commented on #73
Yes, same, jsx. Other js frameworks have @types packages you can install so
I wonder if something similar can be done. However I wanted to check I
wasn't missing something obvious here before investigating that.

For now I am using compiled typescript and it's working great, but I would
like to use pure javascript as I'm not completely familiar with TS! I have
to use a lot of weird casting and @ts

[2020-10-26 19:06] ajboni commented on #73
got it! thanks for the @types hint!

You need this kind of structure:
[code]
notice godot.d.ts is generated on godot editor: `Project > Tools > ECMAScript > Generate TypeScipt Declaration File`

Then you need to link that file in your package.json

[code]
It would be nice to have this info in the readme as well.

[2020-10-26 21:46] lewispollard commented on #73
Wow! That was easier than expected, I had no idea you could import TS types into Javascript that way, but yes it works perfectly as long as you structure it correctly.

At first I had my `godot.d.ts` in a different folder to my .jsx files from the root, with my earlier .tsx scripts, and it didn't work in jsx, even after updating the `package.json` with the `types` property:

[code]

[code]

But on

[2020-10-26 22:40] lewispollard commented on #73
Created a pull request; as well as updating the readme, I added the `"types": "godot.d.ts"` property to the default `package.json` file that gets added when generating a TypeScript project from the editor.

Another tip: VS Code has a setting:

"javascript.implicitProjectConfig.experimentalDecorators": true

To allow the generated `decorators` to be used in JSX (I think you could also use a jsconfi

[2020-11-04 10:17] Geequlim opened #75 "核心玩法战斗"

[2020-11-04 10:17] #75 closed

[2020-11-10 16:42] TwistedTwigleg opened #76 "Javascript and GDScript communication"
Is there a way to call Javascript functions, defined in an exported class, from GDScript? Currently when I try to call a Javascript function from GDScript, I get the following error:

[code]

I am just calling the function using code like `JS_Node.function_name_here()` in GDScript. I have also tried `JS_Node.call("function_name_here")` but it results in the same error. I looked through the demos a

[2020-11-10 17:08] Geequlim commented on #76
You can simply just call the function of javascript from gdscript.
If you wan to call GDScript/C# method from JavaScript code.  You have to using `object.call('method')`

[2020-11-10 17:10] Geequlim commented on #76
[a.zip](https://github.com/GodotExplorer/ECMAScript/files/5518959/a.zip)
![image](https://user-images.githubusercontent.com/6964556/98707074-9542bc00-23ba-11eb-85ed-e1b1a1d27271.png)
The builtin editor event support code completion for that in GDScript

[2020-11-10 17:10] Geequlim commented on #76
Here is [a demo project](https://github.com/GodotExplorer/ECMAScript/files/5518959/a.zip) you can try.

[2020-11-10 17:13] TwistedTwigleg commented on #76
Okay, so it is as I would expect. In my testing project, I am getting different results than the demo project provided, but this makes me thing I did something wrong on my end. I will investigate this further, but I think this issue can be safely closed as it seems to be something with my project rather than the module.

Thanks for the quick reply, explanation, and demo project!

[2020-11-10 17:13] #76 closed

[2020-11-10 21:23] #73 closed

[2020-11-10 21:44] lewiji opened #77 "Feedback / assistance on feature: opening tsx in external editor when opening jsx in editor"
Hi, I've been working on a feature where the ECMAScript module will use the `overrides_external_editor` / `open_in_external_editor` functions to detect a request to edit a `.jsx` file, and if so, detect if there is a `tsconfig.json` present, and try to open the source `.tsx` file if it exists instead. You can see the current modifications here:

https://github.com/lewispollard/ECMAScript/commit/60

[2020-11-15 13:49] 313364973 opened #78 "can webstorm debug?"
i use webstorm for many years ,so i want debug with webstorm,is that possible?

[2020-11-16 22:07] fidasx opened #79 "OS.execute cannot capture shell output"
executing applications works fine like xterm for example or firefox
but i cannot get the shell output from command line apps like ls

[code]

[2020-11-20 08:58] 313364973 opened #80 "less error information"
the code run with no error tip,it is diffcute to debug. the godot console log has no error at all.

[2020-11-20 09:17] lewispollard commented on #80
Could you be a little more specific? Unsure if you mean you want less error information, or more error information.

I can log to the godot Output panel from ecmascript using `console.log`

Or do you mean you get no output when you throw an error? In that case I get an output of a stacktrace with my message at the bottom, in the Debugger panel.

[2020-11-20 09:20] 313364973 commented on #80
thanks a lot ,i saw the  stacktrace. that  what i need。

[2020-11-20 09:33] lewispollard opened #81 "GDNative overridden modules issue (WebRTC)"
Hi,

This is a bit of an obscure issue, I have a workaround, but I want to debug it. I'm not sure where to start looking.

I'm using the `webrtc-native` GDNativeLibrary from: https://github.com/godotengine/webrtc-native

To allow native webrtc on windows/linux.

I've compiled the library from source. This supplies Godot with a native program for doing WebRTC calls outside of HTML5 builds. It does

[2020-11-20 10:03] lewispollard commented on #81
I have added a minimum reproduction project here:

https://github.com/lewispollard/godot-ecmascript-webrtc-native-bug

I've included 64 bit Linux binaries via git LFS however if you're not on this platform or don't want to run my binaries for security reasons you'll have to create your own from: https://github.com/godotengine/webrtc-native

[2020-11-21 02:51] 313364973 commented on #81
the same problem for me ,the webrtc is not suported.

[2020-11-21 03:05] Geequlim commented on #81
GDNative is not support directly as the the classes from gdnative is not accessible from godot's classdb so it is impossible to generate ecma class binding for that.
You can make some tool to generate JavaScript class binding glue files from gdnative class configuration files (I think there should be something like this but not sure)

[2020-11-21 03:09] #80 closed

[2020-11-21 03:15] Geequlim commented on #79
We don't support return values by out arguments.
You have to make a gdscript wrap then call from JavaScript to achieve this

[2020-11-21 03:17] Geequlim commented on #78
No there is only a experimental vscode debugger support for now

[2020-11-21 03:17] fidasx commented on #79
hmm ok any example how i can achieve this

[2020-11-21 03:45] Geequlim commented on #79
OSExecuter.gd

[code]

main.jsx
[code]

If you are using TypeScript you can wrap `call` and `get` by decorators to avoid mannually passing member names as string.

[2020-11-21 03:53] fidasx commented on #79
ty but that will make things so verbose and complicated thx again anyways i hope in the future you can sort this out

[2020-11-21 04:06] Geequlim commented on #79
This is because the Array and Dictionary is diffrent thing in JavaScript and Godot. For most maybe >99% use case they looks like same so I convert JavaScript Array/Object to Godot Array/Dictionary internally in the  binding implementation.
I'm not going to *fix* this as it will make most use case become more complicated like this
[code]
In current implemention it is much clear
[code]

[2020-11-21 08:54] lewispollard commented on #81
OK, thanks, I will look into that! I did build the webrtc-native module using a new api.json file generated from my custom godot binary, using the instructions from the godot-cpp project. Do you know if that's related? I wondered if I could do a similar thing to generate an API data file for the webrtc-native project and feed that into the ECMAscript bindings somehow.

[2020-11-21 13:52] 313364973 commented on #78
thanks,i am new to jsbinding,hope i can  help some time, this project is amazing.

[2020-11-21 13:53] 313364973 commented on #81
do you build wbrtc-native  to  android or ios  platform?

[2020-11-21 14:08] lewispollard commented on #81
Not yet, if you look at the pull requests on the webrtc-native repo there is a recent one that has android build config. I don't think IOS supports gdnative sadly.

[2020-11-23 10:23] 313364973 opened #82 "support load gdnlib ?"
some time need to write gd native ,need to load gdnlib.

[2020-12-05 01:56] 313364973 opened #83 "Worker not work on platform android"
this      new  Worker("res://egg-client-godot/EggThread.js")  work when i run in  godot edit run button,but when i deploy on andoird  not work。
the error is  modules\ECMAScript\quickjs\quickjs_worker.cpp:52:thread_main() - Failed to load entry script:res://egg-client-godot/EggThread.js , i found  the eggthread.js  compiled to eggthread.jsb on android。so i change .js  to jsb
 new  Worker("res://egg

[2020-12-06 07:23] 313364973 commented on #83
any one help?

[2020-12-10 10:49] kariem2k opened #84 "Hot reloading support"
Good morning,

I was just asking if hot reloading is supposed to work, because when I open the platformer demo and try to change the script and save the simulation stops.

Thanks

[2020-12-24 16:29] arundilipan opened #85 "How do the Godot APIs get registered in JS?"
Hi,

I've been toying around with the ECMAScript module for a bit and I've been experimenting with adding Clojurescript support via [shadow-cljs](https://github.com/arundilipan/CLJS-Godot). Basically, the status is that the outputted JS from Clojurescript works in Godot, but I'm having trouble getting a REPL working. I was wondering how/at what stage does the Godot API enter `globalThis`? Also, at

[2021-01-23 01:52] jsmiller84 opened #86 "Breakpoints are not hit if jsx files are in a subdirecotry"
Trying to use Godot with Typescript and VSCode. When I go to debug and set breakpoints in the generated JSX files, the breakpoints will only ever get hit if the JSX files are in the top level directory. If the files are in a subdirectory, the breakpoints are ignored

I've been trying everything and can't seem to figure this out. Not sure where else to try to get help for this issue.

[2021-01-23 03:32] #86 closed

[2021-02-11 10:12] sheenli opened #87 "scons platform=windows bits=32 error"
scons: Reading SConscript files ...
Configuring for Windows: target=debug, bits=32
Using MinGW
Checking for C header file mntent.h... (cached) no
scons: done reading SConscript files.
scons: Building targets ...
[  6%] Compiling ==> modules/ECMAScript/quickjs/quickjs_binder.cpp
[  6%] Compiling ==> modules/ECMAScript/quickjs/quickjs_builtin_binder.cpp
[  6%] Compiling ==> modules/ECMAScript/quickj

[2021-02-13 19:50] lewispollard opened #88 "Profiling support?"
Is there any way to profile Godot ECMAScript code? Either in the editor, or by some other means?

From a quick read of the source I don't think the profiling methods have been implemented, but is there some way to attach a different debugger than the Godot one? Or maybe even by running a build of the engine source and attaching a C++ debugger to that. Has anyone had any success?

Thanks.

[2021-02-15 12:44] lewispollard commented on #88
FWIW, I tried Valgrind but couldn't get much useful information out of it down to the level of individual JS functions.

I've instead just made a simple decorator for now that allows you to add `@measure` to functions in your TS project, and if you add the `Performance.jsx` script as autoload in your project, it will print microsecond-accurate timing info (in ms) to the Godot output.

You can also

[2021-02-21 07:17] bnolan opened #89 "Error in imports cause Godot IDE to crash"
What happens:

If your import is broken and can't be run, the entire godot IDE crashes.

What should happen:

An error should be raised by godot IDE shouldn't crash.

[2021-02-21 08:51] lewispollard commented on #89
Do you have an example @bnolan? I haven't experienced this to my knowledge, an error in an imported module prints a message to the debugger panel, and an error in the console panel if an import is missing or broken.

[2021-02-21 14:27] jerrychoux commented on #64
要怎么使用这个@onready呢？会爆bind错误。现在暂时如下使用。
[code]

[2021-02-24 21:26] bnolan commented on #89
The problem hasn't seemed to reoccur - I'll reopen this issue with a test case if we can replicate.

[2021-02-24 21:26] #89 closed

[2021-02-24 21:27] bnolan opened #90 "Use a version of QuickJS that supports MSVC"
Would it be possible to use this build of QuickJS that compiles on MSVC?

https://github.com/c-smile/quickjspp

[2021-02-25 05:16] Geequlim commented on #90
The quickjs we are using is forked and modified for better godot
Integration and a simple debugger support is added to it. So it would be no
that easy to replace it.

Ben Nolan <notifications@github.com>于2021年2月25日 周四05:27写道：

[2021-03-06 07:02] calumk opened #91 "OSX Binary wont launch"
Am I missing something?

The OSX Binary release has no extension and wont launch from terminal....

[2021-03-09 12:21] sheenli opened #92 "godot.ResourceSaver.save"
save data
[gd_resource type="Resource" load_steps=2 format=2]

[sub_resource type="ECMAScript" id=1]

[resource]
script = SubResource( 1 )
data = [ "ddasdads", "adsadada" ]

but Unable to load

[2021-03-15 14:20] 94pxls commented on #24
I've made a PR related to this issue.
https://github.com/GodotExplorer/ECMAScript/pull/93

[2021-03-16 13:06] calumk opened #94 "Actions (Templates) Download links expired"
https://github.com/GodotExplorer/ECMAScript/actions/runs/418803638

[2021-03-18 07:59] SamirL opened #95 "Error when compiling"
Hi, thanks for the binding it really is great.
Unfortunately I am getting this error when compiling from the 3.2.3 version, any idea please ?

In file included from modules/ECMAScript/quickjs/quickjs_binder.h:4:
In file included from modules/ECMAScript/quickjs/../ecmascript_binder.h:5:
In file included from modules/ECMAScript/ecmascript_gc_handler.h:4:
In file included from ./core/object.h:38:
./c

[2021-03-24 08:24] ceuk opened #96 "Typescript complains when trying to use operators such as += on Vector2"
e.g. Something like this:

[code]

Will generate the following error in typescript:

[code]

Is this an error on my part of a problem wit the type declaration?

[2021-03-24 08:25] ceuk commented on #96
specifying `any` types for the Vector2 properties in question gets rid of the error, but kind of defeats the purpose of using typescript to begin with

[2021-04-02 15:11] Masken8 opened #97 "TypeScript typings do not support strict mode"

[2021-04-03 16:18] Gerolmed opened #98 "Cannot build for windows"
Im getting the following error when compiling with `scons platform=windows`.

Running on windows 10.

I have this project located under modules. Im also only getting this while this module is in there.

[code]

[2021-04-06 19:50] patrickjm opened #99 "WebSocketClient support"
Does this library support WebSocketClient?

[2021-04-14 16:09] patrickjm commented on #99
Figured out that this doesn't matter all that much. There's no direct WebSocketClient support, but you can either call JS websockets directly or call GDScript from your JS.

[2021-04-14 16:09] #99 closed

[2021-04-29 15:13] thomazette opened #101 "Question! Performance on Web"
Hello,
I know my ignorance about arquitetury, but i want to understand web compilation perfom for that project.
Here we programing in JS for that, and the code compile to native C/C++, for then compile to JS WASM?

How much perfom is using this project for Web instead of GdScript.
I foudn that project on https://github.com/cart/godot3-bunnymark, they list many other languages for godot, but i know

[2021-05-06 00:20] #90 closed

[2021-05-06 13:04] jkb0o commented on #30
This is an interesting and useful suggestion. I was able to implement such a thing for C# using godot4-like signal declaration. For now, I am on the way to implementing this for our project. There is a code snippet of how this can work in typescript:

[code]

This approach has some memory overhead but adding a lot of impact and stability. It is also fully compatible
with Godot API, e.g.  I am able

[2021-05-06 23:04] bnolan commented on #56
Heya @Geequlim we'd like to use `is_instance_valid()` in our code - we are crashing when async javascript code tries to access a node that has been freed. Is there another way to do it with godot-ecmascript?

[2021-05-10 11:43] ChangshaTiger opened #102 "Please release the templates with GitHub release instead of leave them in Actions because they expire"

[2021-05-12 03:21] dangerousbeans opened #103 "Missing AudioStreamMP3"
https://docs.godotengine.org/en/stable/classes/class_audiostreammp3.html#class-audiostreammp3

[2021-05-17 21:54] #103 closed

[2021-05-30 11:53] aabluedragon opened #104 "Debuggin works only with javascript, not typescript"
Hello,

I've noticed that breakpoints only work when placing them in .jsx files... meaning .tsx file breakpoints are ignored, even though there sourcemaps.

Do I have anything misconfigured on my side, or is this the status quo?

[2021-06-03 17:39] lewiji commented on #104
Iirc, I had to set the mapping from JS to TS using an absolute rather than relative path in my tsconfig to get it to work, but then I could indeed debug from typescript directly. Haven't got the project in front of me to check, but if that doesn't work let me know and I'll see if I can find more details.

[2021-06-04 13:29] aabluedragon commented on #104
Nothing helps, including writing the absolute path in `sourceRoot` or `rootDir` entries in tsconfig.

[2021-06-05 08:17] lewiji commented on #104
Here's an example `tsconfig.json` and `.vscode/launch.json` from a project where I used to debug in TS. I haven't used it in a while (since around January) so I haven't verified these with the latest version but hopefully it helps to verify your config.

`tsconfig.json`

[code]

I'm not sure exactly which of the options are required to have this functionality work, but I think what worked for me i

[2021-06-05 16:46] aabluedragon commented on #104
I tried playing around with these options, without success.
I'm using Windows btw, seeing your paths `/home/ljp/godot/godot.x11.opt.tools.64` looks like your on a POSIX system.
maybe that's why it doesn't work?

[2021-06-07 05:11] CreatCodeBuild commented on #96
This needs to modify how tsc's type checker is implemented, which is out of scope for this project, likely. Project like Deno suffer similar problems as well because Deno uses TS slightly differently from NodeJS.

If this project doesn't fork tsc, an acceptable workround for me is to omit this kind of errors in the Godot VS code plugin. (override TS language server's diagnostic output)

[2021-06-07 05:16] CreatCodeBuild commented on #94
@Geequlim Can you release templates in Releases? Or at least have some doc about how to compile templates.

[2021-07-06 11:47] maihomahesh opened #106 "Need help for android (No loader found for jsx files)."
When I try to open a scene with attached script (*.jsx) on android I get this error.
`**ERROR**: No loader found for resource: res://src/JS.jsx.`
Preview from Godot editor works well though. Can anyone help?

[2021-08-09 07:22] rud01f opened #107 "Please add support for object= load("res://script.jsx").new() (instantiating loaded class)"

[2021-08-14 11:24] ThinCats commented on #64
按照Typescript官方文档的说法，propertyDecorator只接收两个参数，忽略了返回值，建议只用于观察属性

[property-decorators](https://www.typescriptlang.org/docs/handbook/decorators.html#property-decorators)

目前版本@onready的实现，返回一个descriptor，不是太符合文档中定义。
[code]

一个workaround，使用Reflect.defineProperty在实例的prototype上设置getter，在运行时，this指向实例

[code]

之后能够在代码中使用@onready，且没有bind错误

[2021-08-15 01:29] dangerousbeans opened #108 "Unable to rebind ECMAScript instance from godot object in threaded worker.js"
My main thread is sending out a ECMAscript class as a message to a worker thread using `godot.abandon_value` & `godot.adopt_value`, but I only get the godot object and cannot call any of the js methods on the class:

[code]

[2021-08-15 02:00] dangerousbeans commented on #108
Here's an example of the situation applied to the demos project; https://github.com/dangerousbeans/ECMAScriptDemos/commit/6959fbf385fd074037e3c23d0a21ddb06aac1502

[2021-08-15 10:04] Geequlim commented on #108
You can only pass primitive values between workers. It is the standard and
limit of the JavaScript language, this why the adopt_value exists.

Joran Kikke ***@***.***>于2021年8月15日 周日10:00写道：

[2021-08-15 20:49] dangerousbeans commented on #108
@Geequlim I can get the godot object fine, but the one returned from `godot.adopt_value` no longer has any ECMAscript bindings or js context

[2021-08-25 02:15] Tenpi commented on #98
I faced the same problem. This is not compatible with the `master` branch of godot because they renamed a lot of the classes (for example `PoolByteArray` to `PackedByteArray`). To fix it, you need to clone the `3.3` branch specifically:

`git clone -b 3.3 https://github.com/godotengine/godot`

Another problem is that this can't be compiled with `MSVC`, you need to use `MSYS2`.

Download MSYS2 from

[2021-08-30 10:30] Kingurus commented on #94
All download links expired, please we need compile instructions so maybe we help fixing the problems..
I am compiling 3.2.3-stable without tools on Ubuntu 16.04.3, 64bits and getting:
ImportError: No module named quickjs.builtin_binding_generator:
...
File "/home/godot-3.2.3-stableJS/modules/ECMAScript/SCsub", line 32: import quickjs.builtin_binding_generator

Any help please?

[2021-09-29 01:56] asurance commented on #102
Agree

[2021-10-09 02:47] oxr463 commented on #85
Any updates on this?

[2021-11-04 20:45] lucroch opened #110 "classes/Quat.xml not found when attempting to compile"
It does seem like this project has been abandoned and the export templates are not available. When attempting to compile it myself, following the steps provided in the README.md, the following error is caught:

`$ scons platform=windows use-mingw=yes
scons: Reading SConscript files ...
Configuring for Windows: target=debug, bits=default
Found MSVC version 14.2, arch amd64, bits=64
Note: Building a

[2021-11-04 20:50] lucroch commented on #110
Just noticed #98, I will try on Godot's older version

[2021-11-04 22:31] lucroch commented on #94
Does anyone have the export templates for HTML5?I am getting the following error:

modules\ECMAScript\quickjs\quickjs\version:1:1: error: expected unqualified-id

[2021-11-06 02:04] Geequlim commented on #94
sorry not find time to update this project.

just follow the compile docs of official compilation.
The only difference is msvc is not supported yet.

[2021-11-08 16:17] Jeremi360 opened #111 "Is possible to use this with CoffeeScript"
I always wanted to try [CoffeeScript] with godot.
[CoffeeScript] is compiled to JS, so it should be possible.

[CoffeeScript]: https://coffeescript.org
If this is possible can you give an example how ?

[2021-11-15 16:39] Klaider opened #112 "Code not fully executed"
This code isn't fully executed with latest editor build (v3.2.3). Debugger has no errors.

[code]

[2021-12-03 03:28] Devilsparta commented on #106
@maihomahesh You may need to rebuild android template for including ECMAScript module to your apk.

[2021-12-06 10:49] Devilsparta commented on #112
try not new RecoyxLogo, use RecoyxLogo.instance() instead?
I still wonder if there is a chance to instance an image.

[2021-12-06 11:19] Geequlim commented on #112
you should get an instance of the image when you import it

[2021-12-06 11:19] #112 closed

[2021-12-06 11:24] Klaider commented on #112
I tried:

[code]

Did not log 'd' and did not show the image on the scene.

I also tried `RecoyxLogo.instance()` as @Devilsparta said.

[2021-12-06 11:28] Klaider commented on #112
Finally I also tried `let recoyxLogo = await import('res://img/company-logo/recoyx.png');`. It doesn't log 'c' nor show the image.

[2021-12-06 11:31] Klaider commented on #112
Please re-open the issue, code is still not properly executed.

[2021-12-06 11:47] Klaider opened #113 "Problem when instantiating image"
### Problem

I tried importing an image instance in different ways:
- `import image from 'res://img/img.png';`
- `import Image from 'res://img/img.png'; let image = Image.instance();`
- `import Image from 'res://img/img.png'; let image = new Image;`
- `let image = await import('res://img/img.png');`

None of these ways allow to show the image and, in some cases, code is not fully executed (using `

[2021-12-06 12:34] Geequlim commented on #113
What is the `console.log(RecoyxLogo )` ?

[2021-12-06 12:42] Klaider commented on #113
It logs `[StreamTexture:1189]`.

[2021-12-06 12:44] Geequlim commented on #113
You don't need to instantiate the image. Just use it as an instantiated instance.

[2021-12-06 12:45] Klaider commented on #113
Yeah, I tried it, as stated on the top of my issue... Nothing is drawn on the screen and some logs don't occur...

[2021-12-06 12:46] Geequlim commented on #113
You'd better learn how to use godot first.

[2021-12-06 12:47] Klaider commented on #113
My code is correct, I didn't try to do the same in GDScript, though.

[2021-12-06 12:54] Geequlim commented on #113
No it is not an issue. `[StreamTexture:1189]` is a resource not a node.

[2021-12-06 12:56] Klaider commented on #113
That makes sense, but why doesn't `console.log()` occur or why is not an error thrown and logged in the debugger console?

[2021-12-06 12:58] Klaider commented on #113
I mean, if the last `console.log()` doesn't happen, then some error should have been thrown.

[2021-12-06 13:11] Klaider commented on #113
Now code fully works, but I still don't understand why it was silent.

[2021-12-06 13:12] #113 closed

[2022-01-01 06:15] codediy opened #115 "godot 3.4版本"
可以使用github action打包一个3.4版本的吗

[2022-02-24 04:23] scgm0 opened #117 "godot3.4 && godot4.0"
I really like godot and javascript.
But the latest supported version seems to be stuck at godot3.3. (My own attempt at compiling godot 3.4 failed.)
godot4.0 has been tested for alpha, so when will godot3.4 and godot4.0 be supported?
And compiling it yourself is really too painful. . .

I'm not good at English, so I used google translate.

[2022-03-07 05:40] scgm0 opened #118 ""target" : "ESNext" ， onready装饰器不能正常使用。"
ts：
![image](https://user-images.githubusercontent.com/52148221/156973321-f72174e0-dff5-4d86-b209-b2443bbdc9db.png)
ESNext：
![image](https://user-images.githubusercontent.com/52148221/156973386-b1d9fcd9-9caa-4c53-ba3a-4a8c5bbe22fb.png)
ES2021 & ES2020：
![image](https://user-images.githubusercontent.com/52148221/156973464-9430e23b-9d35-44ff-a2ac-73ff29311971.png)

ts装饰器不能将已定义的普通属性更改为 setter getter

[2022-03-07 16:57] scgm0 commented on #107
new (await import("res://script.jsx")).default
![image](https://user-images.githubusercontent.com/52148221/157080640-bbd5ed66-cec5-4575-98c2-6a222a8d6c4a.png)
![image](https://user-images.githubusercontent.com/52148221/157080677-ef497d7b-f3da-464b-9218-404bfbf3a9e9.png)

[2022-03-07 17:03] scgm0 commented on #96
https://github.com/GodotExplorer/ECMAScript/issues/33

[2022-03-08 07:40] Jeremi360 commented on #111
Sorry @scgm0 , but I don't understand Japanese.

[2022-03-08 17:03] greenbas commented on #111
They're speaking chinese, and according to deepL, they're asking you to refer to how typescript is used to use coffeescript.

If you can set things up so that the coffeescript files are compiled to js before godot goes to use them, then it can work.

[2022-03-08 21:35] scgm0 commented on #107
![image](https://user-images.githubusercontent.com/52148221/157328895-cf4387fd-82a0-475a-b7c8-99b4b1e0b5d9.png)
![image](https://user-images.githubusercontent.com/52148221/157328958-1e150591-fadc-45a1-bfb5-19c75f191d64.png)
![image](https://user-images.githubusercontent.com/52148221/157329014-162978e4-f837-424a-bf0e-b97d864f8832.png)

[2022-03-09 07:08] Jeremi360 commented on #111
Okey I see thanks @greenbas

[2022-03-09 07:08] #111 closed

[2022-04-08 13:49] xxmatxx opened #120 "Can't import a library that doesn't have a class definition"
I can't import a library that doesn't have a class definition. All import ends with:

[code]
Library i tried:
https://csv.js.org/
https://www.papaparse.com/

[2022-04-09 07:07] Geequlim commented on #117
Sorry I can't find time to port this to godot 4.x in the near futuer.
Thanks to @zw7u9tru it works with godot 3.4 nowc!

[2022-04-09 07:08] Geequlim commented on #117
Sorry I can't find time to port this to godot 4.x in the near futuer.
Thanks to @zw7u9tru it works with godot 3.4 nowc!

[2022-04-09 07:08] Geequlim commented on #117
Sorry I can't find time to port this to godot 4.x in the near futuer.
Thanks to @zw7u9tru it works with godot 3.4 nowc!

[2022-04-09 07:12] scgm0 commented on #117
好耶

[2022-04-09 07:12] #95 closed

[2022-04-09 07:15] Geequlim commented on #87
should works for godot 3.4

[2022-04-09 07:15] #87 closed

[2022-04-12 03:42] Terria028 opened #121 "call_method: JavaScript Error not a function"
I can't seems to use any godot function in this latest version of this module (alpha15)
My code was simply is this:

[code]

And I get this error:
![image](https://user-images.githubusercontent.com/86240437/162875918-60fbc6ba-eddc-4bdf-b158-e0e5dd04c31d.png)

[2022-04-13 02:13] Geequlim commented on #121
@zw7u9tru  Can you check this ?
I didn't compile and test your code before merge.

[2022-04-13 05:40] XVhc6A commented on #121
Yes I will work on this right now

[2022-04-15 11:28] antharuu commented on #121
Same problem

[2022-04-19 16:47] zw7u9tru commented on #121
@Terria028 @antharuu  let me know if the current release works better for you!

[2022-04-19 17:40] antharuu commented on #121
Oh, thank you, it's good now !

[2022-04-20 10:16] Terria028 commented on #121
Yes, it is now fixed! Thank you, might close the issue now

[2022-04-20 10:16] #121 closed

[2022-04-21 05:36] anatoli-dp opened #123 "Not an issue but a general question"
As it is i much prefer javascript over gdscript however would like to get one thing sorted before trying out this package . . . what happens if i use a custom module? I am currenty using zylan voxel module in my game and want to be able to program in javascript but am unsure if the api would also be available or is it strictly the api that godot comes with natively? Does this project use some sort

[2022-04-23 20:23] mageowl opened #124 "Custom Resources through ECMAScript"
Currently, Godot will not recognize custom resource classes written in JS/TS.

[2022-05-09 15:09] mageowl commented on #91
you need to follow this tutorial: [Compiling for macOS](https://docs.godotengine.org/en/stable/development/compiling/compiling_for_osx.html#compiling)

[2022-05-10 14:22] mageowl opened #125 "Template binaries give different errors than Editor binaries *export guide included*"
I have every way I can think of and it seems I cannot export my project to desktop. (A documentation would help lots.)

If anyone knows how to export my game, please tell.

[2022-05-11 01:26] mageowl commented on #125
## THE BUG
I fixed this. The problem is that the editor binary will not fire certan errors, but when exported with `*-template.zip` it will find the following errors:

* `godot.VariantType` is `undefined`
* Script paths are case-sensitive

If I find anymore I will post them here.

## HOW TO EXPORT YOUR GAME
You can export your game by:

- Download editor zip (for mac, turn this into a  .app packag

[2022-05-31 05:26] Terria028 opened #126 "get_node() function should have generics in TypeScript"
In C#, we are able to use the simplest and nice `<T>` as a shortcut and cleaner version of  `(T)` or `as` to convert the Node into other class that is inherited to Node:
[code]
But in typescript, we are not allowed to write `<T>` or generics to `get_node()` like in C#. Instead, we use `as` to convert the Node into other class that is inherited to Node.
[code]
I'd make a workaround by editing the g

[2022-05-31 06:10] Terria-K opened #127 "cannot read property 'emit_signal' of null when emitting a custom signal"
Hello, I've having an issue about emitting the custom signal, I think it's broken. The built-in signal works just fine, but the custom are just having an issue.
![image](https://user-images.githubusercontent.com/86240437/171103661-129cb77f-f32d-48e3-9aa3-c1bfc777decf.png)

This is my code:
[code]

[2022-08-01 17:31] YasribProyas opened #129 "position.x is not mutable and wrong class on godot.register_property crashes godot"
export default class Player extends godot.KinematicBody2D {
  constructor() {
	super();
	this.direction = new godot.Vector2(1, 0);
  }
  _ready() {
  }
  _process(delta) {
	this.position.x += this.direction.x; //does nothing. Same if I use a hard-coded value
  }
}
godot.register_property(Player, 'direction', new godot.Vector2(1, 0));

godot.register_property(player, 'direction', new godot.Vector2(

[2022-08-02 03:12] Geequlim commented on #129
you have to set this.position to take effect.
this.position+=this.direction should work

[2022-08-06 18:17] bumblemeow opened #130 "3.5-stable compiles and runs trivial test app"
I just thought I would let people know that 3.5-stable compiles and at least runs a 'hello TypeScript' example I made. Not at all an extensive test suite by any means but at least it's not a failure right away. I will be interested in seeing if others are having success with their more substantial projects.

[2022-08-07 22:45] vexCoder commented on #104
Did you manage to find a solution for this?

[2022-08-08 10:38] fire opened #131 "Godot 4 Tracker"
Here's my current work on porting to godot 4.

https://github.com/fire/ECMAScript/tree/next

I got stuck. Need some help.

[2022-08-08 12:57] Geequlim commented on #131
I have more plans for this project including embedding V8 backend, using NodeJS in the editor, etc. Sadly I haven't been able to find enough time yet to implement them.

I'd like to see how much real world godot users are accepting of JavaScript.

[2022-08-08 13:03] Geequlim commented on #131
You can tell me the problem you're having and I'll be happy to help.

[2022-08-08 13:08] #115 closed

[2022-08-08 14:32] Geequlim opened #132 "Javascript module plans"
**Note** These are plans about this project todo but not found enough time to make it happen yet.

- [ ] #212
[code]
- [ ] Improved TypeScript support
  - [ ] Better signal/slot support
    - [ ] Remove extral signal value bindings, implements in TS declerations
    - [ ] Type checking and code completion for signals, callbacks and paramters
  - [x] Add godot importer to compile TypeScript files w

[2022-08-10 16:01] mageowl commented on #132
Also, there are some errors in the godot.d.ts (lines 4686 and 47134, I think), it would be nice to fix them, along with #126.

[2022-08-11 13:01] vexCoder opened #133 "Debugger Issue"
Same issue with #104 but i can get behind that. however when i try to put breakpoints in a file that is not on the same level as the cwd path vscode is not able to trigger it. i have some workaround by creating esbuild plugin to ensure all build files are on the same level as cwd path while preserving imports.

here is my launch settings

[code]

[2022-08-13 09:50] scgm0 opened #134 "可以在3.5支持安卓编辑器吗？"
发现已经更新到支持3.5了，好耶，3.5的官方下载源有安卓编辑器的版本，所以js绑定可以也构建一个安卓编辑器吗？

[2022-08-13 15:28] Terria028 commented on #127
It doesn't work too, but I found a workaround and I don't know why this works, but it shouldn't be this way too.

[code]

It works with Lambda or strings instead, I don't know why but it works, they should better make a custom error for that instead of a cryptic message. I will keep the issue open from now on.

[2022-08-13 20:48] fire commented on #131
@Geequlim Can I call you on discord? Want to see if I can send you the code and a description of the current issues so you can assist.

[2022-08-14 04:53] Geequlim commented on #134
抱歉，没能找到时间去尝试这类事情。有需要可以自己按官方构建流程出安卓包。

[2022-08-14 04:56] scgm0 commented on #134
好吧，希望大佬一切顺利，然后有大把时间实现之前那个计划，太诱人了(ง •̀_•́)ง加油

[2022-08-14 05:02] Geequlim commented on #131
@fire I don't using dicord that much. And I don't have the confidence to understand or express myself correctly with English.

Can you describe your problem here? There is a big time difference between us and I will try to help you as much as possible when I am avaliable.

[2022-08-15 08:41] poohcom1 commented on #132
I've fixed the first issue with #135. @Geequlim could you take a look?

[2022-08-16 03:12] qq15725 opened #136 "How to extend from Scene"
Card.tscn

[code]

Card.jsx

[code]

FarmerCard.tscn

[code]

FarmerCard.jsx

[code]

run `FarmerCard.tscn` scene, console output(missing "FarmerCard _ready" log):

[code]

error by exit the program:

[code]

[2022-08-16 04:18] qq15725 commented on #136
Card.gd

[code]

FarmerCard.gd

[code]

use gdscript run FarmerCard.tscn scene, console output:

[code]

[2022-08-20 14:48] fire commented on #131
https://github.com/fire/ECMAScript/tree/next doesn't compile.

Don't know how to reduce the complexity so I can finish porting it.

[2022-08-21 06:58] Geequlim commented on #131
@fire I have pulled your code down and made some changes.
I have pulled your code down and made some changes.
Since I haven't modified the godot source code for too long, the main problem at the moment is that all of my IDEs are broken.

[2022-08-21 18:34] fire commented on #131
Let me know if you have godot 4 questions.

[2022-08-22 09:37] Geequlim commented on #131
Downgraded QtCreator to 4.x and it finally worked.
@fire  Did you build the code on the Windows platform? QuickJS doesn't support MSVC yet, so it is recommended that you try to build with mingw.

We create binding code for built-in types through xml documents.
I noticed the errors from generated code is caused as the `argument` is changed to `param` in 4.0, so change it to `param` should fix that.

[2022-08-22 09:43] fire commented on #131
I uses ming llvm. Did you post your changes anywhere?

[2022-08-22 15:50] Geequlim commented on #131
@fire https://github.com/Geequlim/ECMAScript/tree/gd4

[2022-08-24 23:12] fire commented on #132
Can you estimate the effort to add wasm support?

[2022-08-25 04:23] Geequlim commented on #132
WASM is supported by V8 directly.
For QuickJS backen we can using wasm3

[2022-08-30 21:49] mageowl commented on #127
Ohhh...

This is a thing with basic JS.
When passing a method to a function as a callback, the parent scope or `this` is reset to the scope of the function that calls it (or null, because native function don't have scope.) due to the fact that it is being separated from the parent, as your passing the function, not the parent, and the function does not contain any information about the parent. Lam

[2022-08-30 21:50] mageowl commented on #127
(also the errors are just piped from JS, they can't change it without rewriting the compliler)

[2022-09-01 01:26] fire commented on #131
What does `FileNotFoundError: [Errno 2] No such file or directory: '/home/runner/work/ECMAScript/ECMAScript/doc/classes/Quaternion.xml':` mean?

[2022-09-01 05:56] Geequlim commented on #131
@fire  The buitin math type binding code is generated from xml doc files in build script. I think I have fixed these compile errors in branch gd4

[2022-09-01 22:58] fire commented on #131
Can you repeat the tasks that are open for g4?

[2022-09-02 03:03] Geequlim commented on #131
The gd4 branch is for godot 4 I have fixed the compile errors.

[2022-09-04 13:04] SamirL commented on #64
Hi! Any fix regarding this ? It works but still error messages

[2022-09-06 11:07] fire commented on #131
The cicd actions is still failing.

[2022-09-06 14:11] Geequlim commented on #64
Are you missing @gdclass decorator on your class?

[2022-09-07 06:33] SamirL commented on #64
Tried it but still displays the error, but the error doesn't prevent things from working, so I guess I will just ignore it.

[2022-09-08 05:28] fire commented on #131
The javascript rename was merged.

[2022-09-09 17:05] fire commented on #131
Can you describe how to do this?  Implements JavaScript and JavaScriptInstance for godot

[2022-09-11 04:07] Geequlim commented on #131
That shouldn't be same with 3.x.
We need to fix the code to fit the 4.0 workflow

[2022-09-11 15:42] fire commented on #131
Do you have a test project so I can check what works and doesn't work?

[2022-09-11 18:51] Geequlim commented on #131
Here are demos for godot 3.x you can reference.

https://github.com/Geequlim/ECMAScriptDemos

[2022-09-14 03:32] citizenll commented on #118
Bro what you need is

[code]
Here is a starting [`template`](https://github.com/citizenll/godot-typescript-starter)

[2022-09-14 04:24] scgm0 commented on #118
噢，谢谢，我有解决的办法，但我更希望官方生成的模板能支持一下，毕竟也不是什么难事。

[2022-09-23 15:20] Geequlim commented on #131
The script workflow for godot 4.0 is implemented in `gd4` branch now.
We can play javascript in godot editor now.

[2022-09-23 18:45] fire commented on #131
Would you be interested if I fixed the cicd? Is there anything I should know?

[2022-09-24 04:14] fire commented on #131
I was able to get javascript to build, what's a hello world script?

[2022-09-24 04:37] Geequlim commented on #131
You can create a script for a node  in the editor as same as GDScript with script create dialog

[2022-09-24 04:41] Geequlim commented on #131
Still not found enough time to finish port all the things. These are something missing for the binding side thought. Contributions welcomed

[2022-09-24 06:17] fire opened #137 "Upgrade to a newer quickjs"
Upgrade to https://github.com/bellard/quickjs version 2788d71 on Mar 6

[2022-09-24 06:37] Geequlim commented on #137
These are some required modification to QuickJS to support binding to godot.
And the debugger code is mostly from https://github.com/koush/vscode-quickjs-debug.

We'd better finish the godot binding first. For future version quickjs we can add patches to the build script.

[2022-09-24 17:59] fire opened #138 "JS_GetMollocState typo"
There is a JS_GetMollocState -> JS_GetMallocState spelling mistake.

See https://github.com/V-Sekai/javascript/commit/579c134fef0be90442323408476380fa4b4edfe7

[2022-09-24 18:00] fire opened #139 "Thoughts and comments on moving quickjs to a thirdparty directory?"
Thoughts and comments on moving quickjs to a thirdparty directory?

I did in my branch but wanted commentary.

[2022-09-24 18:01] fire opened #140 "Support scons custom_modules"
custom_modules is used a lot in my build system, I had to inline two python files to restore this and it made my code style worse.

Currently the SCons is told the location of the builtin_api.gen.json is custom_modules/builtin_api.gen.json I don't remember the exact error.

[2022-09-24 18:33] Geequlim commented on #140
Never head of custom_nodule any documentation about this?

[2022-09-24 18:35] fire commented on #140
https://docs.godotengine.org/en/stable/development/compiling/introduction_to_the_buildsystem.html#custom-modules

[2022-09-24 18:36] Geequlim commented on #139
Do you mean the thirdparty folder of godot?
I don't think it's a good idea. It's simpler to simple clone the repo to godot modules folder and build it for other developers.

[2022-09-24 18:39] Geequlim commented on #138
I'm not sure this is introduced by me or upstream

[2022-09-24 18:43] Geequlim commented on #139
This module should contains all the dependencies. In V8 or nodejs backend the static libraries will be included instead of build from code with scons.

[2022-09-24 18:44] fire commented on #139
you misunderstood.

1. javascript/quickjs/quickjs -> javascript/thirdparty/quickjs

[2022-09-24 18:46] fire commented on #139
For example:

1. javascript/thirdparty/quickjs
2. javascript/thirdparty/v8
3. javascript/thirdparty/wasm3

[2022-09-24 18:47] Geequlim commented on #139
That's looks good to me

[2022-09-24 18:57] Geequlim commented on #132
For note
Latest stable V8 static libraries build is ready at https://github.com/Geequlim/v8-builder

Puerts seems integrated nodejs for unity and unreal engine on both desktop and mobile platforms with https://github.com/puerts/backend-nodejs

[2022-09-24 20:22] fire commented on #132
Do you prefer v8 or quickjs + wasm3?

[2022-09-25 04:23] Geequlim commented on #132
For different usage choose different backend.
QuickJS is smaller so it is suitable for most game projects.

v8 is large but fast with jit and much more stable with better toolchains including debugger/profiler etc.

We'd better develop games with v8 and publish with your choice.

The principle of the backend to choose is based on your project.
If performance more important using V8 or if size is m

[2022-09-27 17:29] fire opened #141 "Research implementing behave-graph as a Javascript library"
Research implementing behave-graph as a Javascript library that can execute code.

1. portable TypeScript
2. graphs are `.json`
3. Missing integration with graph edit. Compare with react-flow which I can't use https://behave-flow.netlify.app/

https://github.com/bhouston/behave-graph

Recording here. probably doesn't fit this repository.

## Example node graph

[code]

## Example entry point.

htt

[2022-09-28 05:57] easyfrog opened #142 "How to use it?"
<img width="379" alt="image" src="https://user-images.githubusercontent.com/10724325/192698892-17922c5c-7c80-48d4-bfcf-8b97f06d9002.png">

I go these files. and I don't know how to use it, where to place these file.

[2022-09-28 05:59] #142 closed

[2022-10-14 21:57] why-try313 opened #143 "GD4 branch compilation error on Ubuntu 22.04 + Fix"
### Problem
GD4 compilation fails on Linux x11 (Ubuntu 22.04.1 / XFCE4)
[code]
<details>
    <summary>Error Log</summary>

[code]
</details>

### Fix
After some quick digging I found out that `godot/modules/javascript/SCsub:44/63` (`SCsub` on root of this repo) checks for `env['tools']` and `print(env.keys())` contains only uppercase `TOOLS` and no lowecase `tools` so I changed it
[code]

After th

[2022-10-30 15:37] ogrotten opened #145 "Were JS file access functions left out?"
Just tried to use fetch() and FileReader, but they both error. Were they left out in favor of using the godot file functions?

[2022-10-30 16:38] ogrotten commented on #145
Nevermind, I'll post a better question

[2022-10-30 16:38] #145 closed

[2022-10-30 17:04] ogrotten opened #146 "How should a file be accessed?"
I have a configuration in JSON format. I want to read this file as an Autoload Singleton.

None of the file options work.

JS fetch() and FileReader() both give the same basic error message:
![image](https://user-images.githubusercontent.com/8119012/198890896-7e2f30e7-92f6-47fc-aeb2-d27878b788e3.png)

While trying to setup `const file = new godot.File.new()` gives the error message:
![image](https

[2022-11-03 16:57] why-try313 commented on #146
Calling `godot.File.new` looks for a method inside the `godot.File` class, which ends up calling as a function with `new()` that doesn't exist.
`godot.File` is the class, so any of godot's classes should be called with `new godot.CLASS_NAME()`, or in this case, `new godot.File()`

In other words:
[code]